<!doctype html>
<!--[if lte IE 9]> <html lang="en" class="no-enhance no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-enhance no-js"> <!—<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" href="">
		<title>{{title}} - Geckotree</title>

		<link rel="icon" href="/assets/img/brand-icons/favicon.png">

		<!-- Add to homescreen for Chrome on Android -->
    	<meta name="mobile-web-app-capable" content="yes">
    	<meta name="application-name" content="">
    	<link rel="icon" sizes="192x192" href="/assets/img/brand-icons/chrome-touch-icon.png">

    	<!-- Add to homescreen for Safari on iOS -->
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="apple-mobile-web-app-title" content="">
	    <link rel="apple-touch-icon" href="/assets/build/img/brand-icons/apple-touch-icon.png">

	    <!-- Tile icon for Win8 (144x144 + tile color) -->
	    <meta name="msapplication-TileImage" content="/assets/build/img/brand-icons/mstile.png">
	    <meta name="msapplication-TileColor" content="#57B275">
	    <meta name="theme-color" content="#57B275">

	    <!-- Open graph - http://ogp.me -->
		<meta property="og:title" content="{{title}}" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="/assets/build/img/brand-icons/chrome-touch-icon.png" />

		<!-- Twitter card - https://dev.twitter.com/docs/cards/markup-reference -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{title}}" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:image" content="/assets/build/img/brand-icons/chrome-touch-icon.png" />
		<meta name="twitter:site" content="@geckotree" />
		<meta name="twitter:creator" content="@geckotree" />

	    <!-- Font loading -->
		<script>@@loadFont</script>

	    <!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="assets/build/css/style.css">
		<!--<![endif]-->

	    <!--[if lt IE 9]>
			<script src="assets/bower_components/html5shiv/dist/html5shiv.min.js"></script>
			<link rel="stylesheet" href="assets/build/css/ie.css">
		<![endif]-->
	</head>
	<body class="c-page">
		<div class="c-page__inner">
			{{>header}}
			<main class="c-page__content" role="main">
				{{>body}}
			</main>
			{{>footer}}
		</div>

		<div class="u-icons">@@icons</div>
		<script src="assets/build/js/main.js"></script>
		<script>@@googleAnalytics</script>
	</body>
</html>