---
title: Blog
---

<header class="c-page__heading">
	<div class="o-wrap o-wrap--x-large">
		<div class="c-page__heading__details">
			<h1 class="mega">Articles for <br><span class="u-highlight-text">front-end</span> devs</h1>
		
			<div class="intro">
				<p>Articles on web performance principles, monitoring, optimization, responsive web design and more.</p>
			</div>
		</div>
		
		<figure class="c-page__heading__figure">
			<img src="assets/img/blog/article-listing.png" style="transform: scale(1.5);" alt="">
			<!--
			<svg version="1.1" id="illustration" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 720 480" style="enable-background:new 0 0 720 480;transform: scale(1.5);" xml:space="preserve" >
			<g id="euro-main" style="transform:translateX(-30px);">
				<g id="euro-hair-base">
					<g id="euro-ribbon">
						<g>
							<path style="fill:#4B4C99;" d="M253.634,89.923c-0.177,0-0.354-0.031-0.524-0.094c-0.375-0.14-0.678-0.424-0.843-0.789l-14-31
								c-0.219-0.485-0.165-1.051,0.144-1.485c0.283-0.398,0.74-0.632,1.223-0.632c0.043,0,0.087,0.002,0.131,0.006l30.333,2.667
								c0.461,0.041,0.877,0.292,1.129,0.68l10.333,16c0.235,0.365,0.301,0.814,0.181,1.231c-0.121,0.417-0.417,0.762-0.811,0.944
								l-26.667,12.333C254.064,89.877,253.849,89.923,253.634,89.923z"/>
							<path d="M239.634,57.423l30.333,2.667l10.333,16l-26.667,12.333L239.634,57.423 M239.633,54.423
								c-0.966,0-1.881,0.467-2.446,1.264c-0.617,0.869-0.726,2-0.288,2.971l14,31c0.329,0.729,0.937,1.297,1.687,1.576
								c0.338,0.126,0.693,0.189,1.048,0.189c0.431,0,0.861-0.093,1.259-0.277l26.667-12.333c0.789-0.365,1.38-1.053,1.622-1.888
								c0.242-0.834,0.11-1.733-0.361-2.463l-10.333-16c-0.502-0.778-1.335-1.28-2.257-1.361l-30.333-2.667
								C239.809,54.427,239.721,54.423,239.633,54.423L239.633,54.423z"/>
						</g>
						<g>
							<path style="fill:#4B4C99;" d="M289.634,70.59c-0.117,0-0.234-0.014-0.35-0.042c-0.393-0.094-0.732-0.343-0.939-0.691
								l-9.333-15.667c-0.305-0.512-0.278-1.156,0.069-1.641l17.667-24.667c0.283-0.395,0.739-0.626,1.22-0.626
								c0.042,0,0.085,0.002,0.128,0.005c0.527,0.045,0.992,0.365,1.222,0.841l13,26.858c0.333,0.687,0.096,1.514-0.549,1.921
								l-21.333,13.475C290.193,70.51,289.915,70.59,289.634,70.59z"/>
							<path d="M297.967,28.756l13,26.858L289.634,69.09L280.3,53.423L297.967,28.756 M297.967,25.756
								c-0.962,0-1.872,0.463-2.439,1.253l-17.667,24.667c-0.694,0.969-0.749,2.258-0.138,3.282l9.333,15.667
								c0.414,0.695,1.092,1.194,1.879,1.382c0.231,0.055,0.465,0.083,0.699,0.083c0.563,0,1.119-0.158,1.602-0.464l21.333-13.475
								c1.291-0.815,1.763-2.469,1.098-3.843l-13-26.858c-0.461-0.953-1.39-1.592-2.445-1.682
								C298.137,25.76,298.052,25.756,297.967,25.756L297.967,25.756z"/>
						</g>
						<g>
							<path style="fill:#4B4C99;" d="M272.669,68.236c-1.815,0-3.44-1.012-4.24-2.641l-4.97-10.119
								c-1.148-2.336-0.181-5.171,2.156-6.319l11.565-5.68c0.654-0.321,1.354-0.484,2.079-0.484c1.816,0,3.44,1.012,4.24,2.641
								l4.97,10.119c0.556,1.132,0.638,2.412,0.23,3.606c-0.407,1.193-1.255,2.157-2.387,2.712l-11.565,5.681
								C274.094,68.073,273.394,68.236,272.669,68.236z"/>
							<path d="M279.258,44.493c1.19,0,2.334,0.662,2.894,1.802l4.97,10.119c0.784,1.597,0.126,3.527-1.471,4.311l-11.565,5.68
								c-0.457,0.224-0.941,0.331-1.418,0.331c-1.19,0-2.334-0.662-2.894-1.802l-4.97-10.119c-0.784-1.597-0.126-3.527,1.471-4.311
								l11.565-5.68C278.298,44.599,278.782,44.493,279.258,44.493 M279.259,41.493C279.259,41.493,279.259,41.493,279.259,41.493
								c-0.943,0-1.891,0.221-2.74,0.638l-11.565,5.68c-1.492,0.733-2.608,2.002-3.145,3.575c-0.537,1.573-0.429,3.26,0.304,4.752
								l4.97,10.119c1.054,2.146,3.195,3.479,5.586,3.479c0.943,0,1.891-0.221,2.74-0.638l11.565-5.68
								c3.079-1.512,4.354-5.248,2.841-8.327l-4.97-10.119C283.791,42.826,281.65,41.493,279.259,41.493L279.259,41.493z"/>
						</g>
					</g>
					<path id="euro-hair" style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="
						M307.651,51.423h-1.212c-33.128,0-59.983,25.632-59.983,59.983s-14.823,71.017-14.823,97.13c0,38.22,32.667,64.594,49,64.594
						s87,0,87,0V166.423v-39.202v-15.815C367.634,78.278,340.778,51.423,307.651,51.423z"/>
				</g>
				<g>
					<g>
						<path style="fill:#FDD5B6;" d="M239.265,399.593V270.15c0-30.377,23.734-55.09,52.907-55.09h29.564
							c29.173,0,52.906,24.713,52.906,55.09v129.443H239.265z"/>
						<path d="M321.736,216.559c28.391,0,51.407,23.993,51.407,53.59v127.944H240.764V270.149c0-29.597,23.016-53.59,51.407-53.59
							H321.736 M321.736,213.559h-29.564c-30,0-54.407,25.386-54.407,56.59v127.944v3h3h132.378h3v-3V270.149
							C376.142,238.945,351.736,213.559,321.736,213.559L321.736,213.559z"/>
					</g>
					<g>
						<g>
							<path style="fill:#FFFFFF;" d="M260.077,400.128V274.225l0.292-0.396c6.926-9.411,10.74-21.582,10.74-34.269v-19.6l0.947-0.375
								c4.452-1.767,9.117-2.896,13.867-3.356l1.645-0.159v33.917c0,9.572,7.443,17.36,16.591,17.36h5.589
								c9.149,0,16.592-7.788,16.592-17.36v-34.609l1.723,0.259c4.178,0.627,8.288,1.785,12.215,3.439l0.917,0.387v20.098
								c0,13.721,4.366,26.605,12.294,36.277l0.34,0.415v123.877H260.077z"/>
							<path d="M327.84,217.119c4.132,0.62,8.102,1.757,11.856,3.338v19.102c0,14.543,4.83,27.707,12.634,37.228v121.842h-90.753
								V274.717c6.856-9.317,11.031-21.64,11.031-35.158v-18.581c4.246-1.685,8.759-2.801,13.458-3.257v32.265
								c0,10.416,8.1,18.86,18.092,18.86h5.589c9.992,0,18.092-8.444,18.092-18.86V217.119 M324.84,213.635v3.484v32.867
								c0,8.745-6.77,15.86-15.092,15.86h-5.589c-8.322,0-15.092-7.115-15.092-15.86v-32.265v-3.305l-3.289,0.319
								c-4.89,0.474-9.693,1.636-14.275,3.454l-1.894,0.751v2.037v18.581c0,12.37-3.71,24.224-10.448,33.38l-0.584,0.793v0.985v123.912
								v3h3h90.753h3v-3V276.787v-1.073l-0.68-0.829c-7.709-9.404-11.954-21.949-11.954-35.326v-19.102v-1.991l-1.835-0.773
								c-4.042-1.703-8.273-2.894-12.575-3.54L324.84,213.635L324.84,213.635z"/>
						</g>
						<g>
							<path style="fill:#FFFFFF;" d="M265.577,394.628V276.003c7.123-10.188,11.032-23.071,11.032-36.444v-15.78
								c1.791-0.591,3.613-1.07,5.458-1.434v27.64c0,12.605,9.91,22.86,22.091,22.86h5.589c12.182,0,22.092-10.255,22.092-22.86
								v-27.974c1.3,0.336,2.586,0.73,3.855,1.182v16.366c0,14.462,4.477,28.117,12.634,38.627v116.441H265.577z"/>
							<g>
								<path style="fill:#FDB822;" d="M278.715,255.95c2.642,11.95,13.047,20.895,25.443,20.895h5.589
									c11.335,0,21.005-7.479,24.597-17.895c2.126,7.524,5.497,14.508,9.984,20.579v111.099h-74.753v-113.39
									C273.806,270.905,276.898,263.661,278.715,255.95 M327.84,217.119v32.867c0,10.416-8.1,18.86-18.092,18.86h-5.589
									c-9.992,0-18.092-8.444-18.092-18.86v-32.265c-4.699,0.456-9.212,1.572-13.458,3.257v18.581
									c0,13.518-4.176,25.841-11.031,35.158v123.912h90.753V276.787c-7.805-9.521-12.634-22.684-12.634-37.228v-19.102
									C335.942,218.875,331.972,217.739,327.84,217.119L327.84,217.119z"/>
							</g>
						</g>
					</g>
					<path style="fill:#FDD5B6;" d="M309.62,199.419h-5.333c-4.213,0-8.297-0.55-12.189-1.573v31.14h27.312v-30.574
						C316.249,199.07,312.976,199.419,309.62,199.419z"/>
					<g>
						
							<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="293.006" y1="198.086" x2="293.006" y2="221.166"/>
						
							<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="319.41" y1="198.086" x2="319.41" y2="221.166"/>
					</g>
				</g>
				<g id="euro-face">
					<g>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M258.803,148.555h-9.9
							c-4.853,0-8.788-3.934-8.788-8.788v-0.178c0-4.853,3.934-8.788,8.788-8.788h9.9V148.555z"/>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M252.163,139.679
							c0,1.576-1.277,2.853-2.853,2.853s-2.853-1.277-2.853-2.853s1.277-2.853,2.853-2.853"/>
					</g>
					<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M256.47,121.506v29.096
						c0,26.409,21.408,47.817,47.817,47.817h5.333c26.409,0,47.817-21.408,47.817-47.817v-29.096H256.47z"/>
					<g>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M357.437,148.555h9.9
							c4.853,0,8.788-3.934,8.788-8.788v-0.178c0-4.853-3.934-8.788-8.788-8.788h-9.9V148.555z"/>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M364.078,139.679
							c0,1.576,1.277,2.853,2.853,2.853c1.576,0,2.853-1.277,2.853-2.853s-1.277-2.853-2.853-2.853"/>
					</g>
					<path style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M325.67,160.752
						c0,11.414-8.323,20.666-18.59,20.666c-10.267,0-18.59-9.253-18.59-20.666H325.67z"/>
					<g id="euro-eyes">
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M279.815,139.17
							c0-3.113,2.524-5.637,5.637-5.637c3.113,0,5.637,2.524,5.637,5.637"/>
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M322.818,139.17
							c0-3.113,2.524-5.637,5.637-5.637s5.637,2.524,5.637,5.637"/>
					</g>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M313.828,145.466
						c0,3.413-3.078,6.18-6.875,6.18c-3.797,0-6.875-2.767-6.875-6.18H313.828z"/>
					
						<line style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="252.163" y1="121.506" x2="361.142" y2="121.506"/>
					<polygon style="fill:#FDD5B6;" points="284.678,91.756 297.653,102.006 276.034,102.006 		"/>
					
						<line style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="264.884" y1="102.006" x2="318.134" y2="102.006"/>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M277.634,81.506
						c0,0,4.125,6.875,9,11.75s11.5,8.75,11.5,8.75"/>
					<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M289.884,79.506
						c0,0,9.25,14.25,28.25,22.5s36.5,8.5,36.5,8.5"/>
					<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M284.678,91.159
						c0,0-1.104,2.907-2.745,5.423c-1.642,2.517-5.549,5.423-5.549,5.423"/>
				</g>
			</g>
			<g id="cat-main" style="display:none;">
				<g>
					<g>
						<path style="fill:#FFFFFF;" d="M355.271,403.593V274.149c0-30.377,23.734-55.09,52.907-55.09h29.564
							c29.173,0,52.906,24.713,52.906,55.09v129.443H355.271z"/>
						<path d="M437.743,220.559c28.391,0,51.407,23.993,51.407,53.59v127.944H356.772V274.149c0-29.597,23.016-53.59,51.407-53.59
							H437.743 M437.743,217.559h-29.564c-30,0-54.407,25.386-54.407,56.59v127.944v3h3H489.15h3v-3V274.149
							C492.15,242.946,467.743,217.559,437.743,217.559L437.743,217.559z"/>
					</g>
					<g>
						<g>
							<path style="fill:#FFFFFF;" d="M376.084,404.129V278.225l0.292-0.396c6.926-9.411,10.74-21.581,10.74-34.269v-19.6l0.947-0.376
								c4.451-1.766,9.116-2.895,13.866-3.355l1.645-0.159v33.917c0,9.572,7.443,17.359,16.592,17.359h5.589
								c9.148,0,16.592-7.787,16.592-17.359v-34.61l1.723,0.259c4.179,0.627,8.289,1.785,12.215,3.439l0.918,0.387v20.098
								c0,13.722,4.366,26.605,12.295,36.276l0.34,0.415v123.878H376.084z"/>
							<path d="M443.847,221.119c4.132,0.62,8.102,1.757,11.856,3.338v19.102c0,14.543,4.83,27.707,12.634,37.228v121.842h-90.753
								V278.717c6.856-9.317,11.031-21.64,11.031-35.158v-18.581c4.246-1.685,8.759-2.801,13.458-3.257v32.265
								c0,10.416,8.1,18.86,18.092,18.86h5.589c9.992,0,18.092-8.444,18.092-18.86V221.119 M440.847,217.635v3.484v32.867
								c0,8.745-6.77,15.86-15.092,15.86h-5.589c-8.322,0-15.092-7.115-15.092-15.86v-32.265v-3.305l-3.289,0.319
								c-4.89,0.474-9.693,1.636-14.275,3.454l-1.894,0.751v2.037v18.581c0,12.37-3.71,24.224-10.448,33.38l-0.584,0.793v0.985v123.912
								v3h3h90.753h3v-3V280.787v-1.073l-0.68-0.829c-7.709-9.404-11.954-21.949-11.954-35.326v-19.102v-1.991l-1.835-0.773
								c-4.042-1.703-8.273-2.894-12.575-3.54L440.847,217.635L440.847,217.635z"/>
						</g>
						<g>
							<path style="fill:#FFFFFF;" d="M381.584,398.629V280.003c7.123-10.188,11.032-23.071,11.032-36.443v-15.78
								c1.79-0.591,3.613-1.07,5.458-1.434v27.641c0,12.604,9.91,22.859,22.092,22.859h5.589c12.182,0,22.092-10.255,22.092-22.859
								v-27.975c1.3,0.336,2.586,0.73,3.855,1.182v16.366c0,14.463,4.477,28.117,12.635,38.627v116.442H381.584z"/>
							<g>
								<path style="fill:#FDB822;" d="M394.723,259.951c2.642,11.95,13.047,20.895,25.443,20.895h5.589
									c11.335,0,21.005-7.479,24.597-17.895c2.126,7.524,5.497,14.508,9.984,20.579v111.099h-74.753v-113.39
									C389.813,274.905,392.906,267.661,394.723,259.951 M443.847,221.119v32.867c0,10.416-8.1,18.86-18.092,18.86h-5.589
									c-9.992,0-18.092-8.444-18.092-18.86v-32.265c-4.699,0.456-9.212,1.572-13.458,3.257v18.581
									c0,13.518-4.176,25.841-11.031,35.158v123.912h90.753V280.787c-7.805-9.521-12.634-22.684-12.634-37.228v-19.102
									C451.949,222.876,447.979,221.739,443.847,221.119L443.847,221.119z"/>
							</g>
						</g>
					</g>
					<rect x="408.105" y="202.466" style="fill:#FFFFFF;" width="27.312" height="28.52"/>
				</g>
				<g>
					
						<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="409.014" y1="201.086" x2="409.014" y2="225.166"/>
					
						<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="435.417" y1="201.086" x2="435.417" y2="225.166"/>
				</g>
				<g id="cat-head">
					<path style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
						M467.272,68.165l-15.305,20.339h-4.881c-2.828-2.772-6.15-5.039-9.815-6.674c4.038-2.57,8.614-4.296,13.45-4.956
						c-3.225-2.046-6.856-3.571-10.804-4.432c-12.285-2.681-24.461,1.756-32.243,10.546c-2.741,1.492-5.253,3.351-7.464,5.517h-3.577
						l-17.966-20.268c-2.534-1.938-6.19-0.131-6.19,3.059v86.307c0,26.409,21.408,47.817,47.817,47.817h5.333
						c26.409,0,47.817-21.408,47.817-47.817V71.238C473.444,68.058,469.809,66.248,467.272,68.165z"/>
					<path style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M474.466,113.583
						h-103.01c-2.138,0-3.87-1.733-3.87-3.87v-8.26c0-2.137,1.733-3.87,3.87-3.87h103.01c2.137,0,3.87,1.733,3.87,3.87v8.26
						C478.336,111.85,476.603,113.583,474.466,113.583z"/>
					<g id="cat-eyes">
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M395.823,136.17
							c0-3.113,2.524-5.637,5.637-5.637c3.113,0,5.637,2.524,5.637,5.637"/>
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M438.825,136.17
							c0-3.113,2.524-5.637,5.637-5.637c3.113,0,5.637,2.524,5.637,5.637"/>
					</g>
					<g>
						<g>
							<path style="fill:#FDB822;" d="M391.459,157.146c-3.386,0-6.14-2.754-6.14-6.14s2.754-6.139,6.14-6.139
								c3.385,0,6.139,2.754,6.139,6.139S394.844,157.146,391.459,157.146z"/>
							<path d="M391.459,146.367c2.562,0,4.639,2.077,4.639,4.639s-2.077,4.639-4.639,4.639c-2.562,0-4.639-2.077-4.639-4.639
								S388.896,146.367,391.459,146.367 M391.459,143.367c-4.212,0-7.639,3.427-7.639,7.639s3.427,7.639,7.639,7.639
								s7.639-3.427,7.639-7.639S395.671,143.367,391.459,143.367L391.459,143.367z"/>
						</g>
						<g>
							<path style="fill:#FDB822;" d="M454.463,157.146c-3.386,0-6.14-2.754-6.14-6.14s2.754-6.139,6.14-6.139
								c3.385,0,6.139,2.754,6.139,6.139S457.848,157.146,454.463,157.146z"/>
							<path d="M454.463,146.367c2.562,0,4.639,2.077,4.639,4.639s-2.077,4.639-4.639,4.639c-2.562,0-4.639-2.077-4.639-4.639
								S451.9,146.367,454.463,146.367 M454.463,143.367c-4.212,0-7.639,3.427-7.639,7.639s3.427,7.639,7.639,7.639
								s7.639-3.427,7.639-7.639S458.675,143.367,454.463,143.367L454.463,143.367z"/>
						</g>
					</g>
					<g>
						<path style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
							M440.226,159.285c0,4.734-3.838,8.572-8.572,8.572c-4.734,0-8.572-3.838-8.572-8.572"/>
						<path style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
							M422.84,159.285c0,4.734-3.838,8.572-8.572,8.572c-4.734,0-8.572-3.838-8.572-8.572"/>
					</g>
					
						<polygon style="fill:#4B4C99;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
						414.127,146.037 431.794,146.037 422.961,157.646 		"/>
					<path d="M458.096,104.033c-2.958-10.789-10.826-19.244-20.794-23.225c0,0-0.035,1.265-0.064,2.212l0.367,0.611
						c1.535,0.695,2.952,1.582,4.349,2.561c0.558,0.391,1.17,0.867,1.703,1.297c3.494,3.262,6.744,6.646,8.957,10.813
						c-6.208-5.145-14.013-7.996-22.27-7.996c-0.791,0-1.575,0.028-2.352,0.081c-0.788,0.054-1.405,0.698-1.405,1.488v0.03
						c0,0.858,0.723,1.541,1.578,1.48c0.72-0.051,1.446-0.079,2.179-0.079c9.887,0,19.066,4.473,25.185,12.272
						c0.292,0.373,0.732,0.574,1.181,0.574c0.007,0,0.015-0.001,0.02,0c0.829,0,1.5-0.671,1.5-1.5
						C458.23,104.432,458.182,104.222,458.096,104.033z"/>
					
						<polyline style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
						378.633,92.756 378.633,80.506 388.633,90.481 		"/>
					
						<polyline style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
						458.384,89.423 467.384,80.506 467.384,92.756 		"/>
				</g>
			</g>
			<g id="afro-main" style="display:none;">
				<g>
					<path style="fill:#A97C51;" d="M120.634,409.508v-96.002c0-32.946,26.804-59.75,59.75-59.75h33.5
						c32.946,0,59.75,26.804,59.75,59.75v96.002H120.634z"/>
					<path d="M213.884,255.256c32.171,0,58.25,26.079,58.25,58.25v94.501h-150v-94.501c0-32.171,26.079-58.25,58.25-58.25H213.884
						 M213.884,252.256h-33.5c-33.773,0-61.25,27.477-61.25,61.25v94.501v3h3h150h3v-3v-94.501
						C275.134,279.733,247.658,252.256,213.884,252.256L213.884,252.256z"/>
				</g>
				<rect x="180.301" y="235.589" style="fill:#A97C51;" width="33.167" height="31"/>
				
					<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="180.301" y1="234.089" x2="180.301" y2="258.089"/>
				
					<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="213.303" y1="234.089" x2="213.303" y2="258.089"/>
				<g>
					<g>
						<path style="fill:#FFFFFF;" d="M144.218,410.09v-92.128l0.31-0.404c7.861-10.246,12.19-23.494,12.19-37.302v-21.231l0.966-0.368
							c5.021-1.91,10.285-3.132,15.645-3.63l1.639-0.152v36.716c0,10.477,8.523,19,19,19h6.333c10.477,0,19-8.523,19-19v-37.457
							l1.714,0.247c4.717,0.68,9.354,1.932,13.783,3.723l0.938,0.379v21.774c0,14.935,4.957,28.96,13.956,39.49l0.36,0.421v89.923
							H144.218z"/>
						<path d="M220.801,255.864c4.682,0.674,9.181,1.909,13.434,3.628v20.763c0,15.808,5.473,30.117,14.316,40.465v87.868H145.718
							v-90.118c7.769-10.127,12.5-23.521,12.5-38.215v-20.197c4.811-1.831,9.925-3.045,15.25-3.54v35.07c0,11.322,9.178,20.5,20.5,20.5
							h6.333c11.322,0,20.5-9.178,20.5-20.5V255.864 M217.801,252.401v3.463v35.725c0,9.65-7.85,17.5-17.5,17.5h-6.333
							c-9.65,0-17.5-7.85-17.5-17.5v-35.07v-3.292l-3.278,0.305c-5.494,0.511-10.89,1.763-16.039,3.723l-1.933,0.736v2.068v20.197
							c0,13.479-4.219,26.402-11.88,36.389l-0.62,0.808v1.018v90.118v3h3h102.833h3v-3v-87.868v-1.107l-0.719-0.842
							c-8.768-10.26-13.597-23.939-13.597-38.516v-20.763v-2.023l-1.876-0.758c-4.543-1.836-9.297-3.12-14.13-3.816L217.801,252.401
							L217.801,252.401z"/>
					</g>
					<g>
						<path style="fill:#FFFFFF;" d="M149.718,404.59v-84.788c8.07-11.037,12.5-25.022,12.5-39.546v-17.365
							c2.371-0.768,4.794-1.369,7.25-1.802v30.501c0,13.51,10.991,24.5,24.5,24.5h6.333c13.509,0,24.5-10.99,24.5-24.5v-30.904
							c1.836,0.43,3.651,0.956,5.434,1.576v17.994c0,15.709,5.073,30.529,14.316,41.912v82.422H149.718z"/>
						<g>
							<path style="fill:#FDB822;" d="M165.468,290.839v0.75c0,15.715,12.785,28.5,28.5,28.5h6.333
								c13.726,0,25.216-9.753,27.905-22.692c2.271,9.642,6.461,18.574,12.345,26.165v77.028h-86.833v-79.504
								C159.863,312.305,163.891,301.883,165.468,290.839 M220.801,255.864v35.725c0,11.322-9.178,20.5-20.5,20.5h-6.333
								c-11.322,0-20.5-9.178-20.5-20.5v-35.07c-5.325,0.495-10.439,1.709-15.25,3.54v20.197c0,14.694-4.731,28.088-12.5,38.215v90.118
								h102.833v-87.868c-8.844-10.349-14.316-24.657-14.316-40.465v-20.763C229.982,257.774,225.483,256.539,220.801,255.864
								L220.801,255.864z"/>
						</g>
					</g>
				</g>
				<g id="chest-hair">
					
						<line style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="187.634" y1="272.423" x2="202.967" y2="272.423"/>
					
						<line style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="181.634" y1="280.756" x2="212.967" y2="280.756"/>
					
						<line style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="181.634" y1="289.423" x2="212.967" y2="289.423"/>
					
						<line style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="189.634" y1="298.756" x2="207.8" y2="298.756"/>
				</g>
				<g id="afro-head">
					<g>
						<g>
							<path style="fill:#434381;" d="M244.26,200.855c-7.582,0-13.75-6.168-13.75-13.75s6.168-13.75,13.75-13.75
								s13.75,6.168,13.75,13.75S251.842,200.855,244.26,200.855z"/>
							<path d="M244.26,174.855c6.765,0,12.25,5.484,12.25,12.25s-5.485,12.25-12.25,12.25c-6.766,0-12.25-5.484-12.25-12.25
								S237.495,174.855,244.26,174.855 M244.26,171.855c-8.409,0-15.25,6.841-15.25,15.25s6.841,15.25,15.25,15.25
								s15.25-6.841,15.25-15.25S252.669,171.855,244.26,171.855L244.26,171.855z"/>
						</g>
						<g>
							<path style="fill:#434381;" d="M147.634,186.605c-3.033,0-5.5-2.467-5.5-5.5v-35.219c0-3.033,2.467-5.5,5.5-5.5h0.569
								c3.033,0,5.5,2.467,5.5,5.5v35.219c0,3.033-2.467,5.5-5.5,5.5H147.634z"/>
							<path d="M148.203,141.886c2.209,0,4,1.791,4,4v35.22c0,2.209-1.791,4-4,4h-0.569c-2.209,0-4-1.791-4-4v-35.22
								c0-2.209,1.791-4,4-4H148.203 M148.203,138.886h-0.569c-3.86,0-7,3.14-7,7v35.22c0,3.86,3.14,7,7,7h0.569c3.86,0,7-3.14,7-7
								v-35.22C155.203,142.026,152.063,138.886,148.203,138.886L148.203,138.886z"/>
						</g>
					</g>
					<g>
						<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M151.989,180.069
							h-11.71c-5.741,0-10.395-4.654-10.395-10.395v-0.21c0-5.741,4.654-10.395,10.395-10.395h11.71V180.069z"/>
						<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M144.134,169.569
							c0,1.864-1.511,3.375-3.375,3.375c-1.864,0-3.375-1.511-3.375-3.375c0-1.864,1.511-3.375,3.375-3.375"/>
					</g>
					<g>
						<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M233.643,180.069h11.71
							c5.741,0,10.395-4.654,10.395-10.395v-0.21c0-5.741-4.654-10.395-10.395-10.395h-11.71V180.069z"/>
						<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M241.498,169.569
							c0,1.864,1.511,3.375,3.375,3.375c1.864,0,3.375-1.511,3.375-3.375c0-1.864-1.511-3.375-3.375-3.375"/>
					</g>
					<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M246.884,189.881
						c0,26.855-21.77,48.625-48.625,48.625h-1.75c-26.855,0-48.625-21.77-48.625-48.625v-56.124h99V189.881z"/>
					<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M210.511,188.48h-12
						v-25.248c0-3.281,2.659-5.94,5.94-5.94h0.12c3.281,0,5.94,2.659,5.94,5.94V188.48z"/>
					<path style="fill:#A97C51;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M222.508,188.48
						c0-6.627-5.372-11.998-11.998-11.998c-6.627,0-11.998,5.372-11.998,11.998H222.508z"/>
					<path style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M211.884,196.256
						c0,9.251-7.947,16.75-17.75,16.75s-17.75-7.499-17.75-16.75"/>
					
						<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="224.51" y1="195.256" x2="176.384" y2="195.256"/>
					<path style="fill:#4B4C99;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M157.005,174.855
						v-32.599h-10v42.599c0,5.523,4.477,10,10,10c5.523,0,10-4.477,10-10C167.005,179.333,162.528,174.855,157.005,174.855z"/>
					<g id="afro-hair">
						<g>
							<path style="fill:#434381;" d="M232.259,147.881c-3.459,0-6.812-1.194-9.504-3.375h-57.23c-1.991,0.913-4.099,1.375-6.271,1.375
								s-4.279-0.462-6.271-1.375h-5.135l0.565-3.225c-2.732-2.815-4.284-6.606-4.284-10.525c0-1.368,0.191-2.733,0.569-4.071
								c-3.548-3.409-5.564-8.112-5.564-13.054c0-6.518,3.43-12.417,9.028-15.66c-0.185-1.042-0.278-2.078-0.278-3.09
								c0-9.541,7.203-17.271,16.588-18.045c2.328-6.575,8.62-11.08,15.662-11.08c3.913,0,7.616,1.343,10.59,3.811
								c3.142-3.394,7.491-5.311,12.161-5.311c6.838,0,12.845,4.085,15.384,10.311c1.395-0.373,2.814-0.561,4.239-0.561
								c9.167,0,16.625,7.458,16.625,16.625c0,1.488-0.197,2.952-0.586,4.375c8.209,1.008,14.586,8.023,14.586,16.5
								c0,5.707-2.883,10.924-7.622,13.97c1.23,2.227,1.874,4.714,1.874,7.28c0,3.455-1.188,6.794-3.361,9.484l0.397,2.266h-2.658
								C239.071,146.687,235.719,147.881,232.259,147.881z"/>
							<path d="M202.885,65.756c6.804,0,12.557,4.494,14.457,10.674c1.614-0.587,3.348-0.924,5.165-0.924
								c8.353,0,15.125,6.772,15.125,15.125c0,2.037-0.408,3.977-1.139,5.751c0.005,0,0.009-0.001,0.014-0.001
								c8.353,0,15.125,6.772,15.125,15.125c0,5.862-3.338,10.937-8.214,13.446c1.549,2.211,2.466,4.898,2.466,7.804
								c0,3.478-1.314,6.642-3.46,9.05l0.211,1.2h-1.419c-2.396,2.096-5.524,3.375-8.957,3.375s-6.561-1.279-8.957-3.375h-58.113
								c-1.796,0.872-3.804,1.375-5.935,1.375c-2.13,0-4.139-0.503-5.935-1.375h-3.686l0.394-2.245
								c-2.698-2.49-4.399-6.044-4.399-10.005c0-1.592,0.287-3.114,0.789-4.534c-3.541-3.045-5.785-7.553-5.785-12.591
								c0-6.519,3.761-12.146,9.224-14.871c-0.299-1.247-0.474-2.541-0.474-3.879c0-9.039,7.219-16.378,16.204-16.604
								c1.79-6.356,7.617-11.021,14.546-11.021c4.196,0,7.992,1.711,10.732,4.471C193.629,68.104,197.978,65.756,202.885,65.756
								 M202.885,62.756c-4.629,0-8.969,1.726-12.293,4.819c-3.038-2.157-6.658-3.319-10.459-3.319
								c-7.355,0-13.958,4.505-16.732,11.185c-9.698,1.263-17.018,9.431-17.018,19.44c0,0.768,0.049,1.547,0.147,2.332
								c-5.539,3.603-8.897,9.707-8.897,16.418c0,5.056,1.948,9.879,5.402,13.509c-0.27,1.193-0.406,2.403-0.406,3.616
								c0,4.049,1.506,7.972,4.178,10.998l-0.129,0.734l-0.617,3.518h3.572h3.03c2.098,0.913,4.312,1.375,6.59,1.375
								s4.492-0.462,6.59-1.375h56.393c2.883,2.184,6.398,3.375,10.021,3.375s7.138-1.191,10.021-3.375h0.355h3.572l-0.592-3.373
								c2.117-2.856,3.269-6.31,3.269-9.877c0-2.364-0.496-4.667-1.453-6.791c4.504-3.389,7.201-8.695,7.201-14.459
								c0-8.674-6.125-15.945-14.277-17.714c0.184-1.039,0.277-2.094,0.277-3.161c0-9.994-8.131-18.125-18.125-18.125
								c-1.131,0-2.259,0.109-3.375,0.324C216.119,66.704,209.905,62.756,202.885,62.756L202.885,62.756z"/>
						</g>
						<g>
							<path style="fill:#4B4C99;" d="M236.508,96.381c-0.005,0-0.009,0.001-0.014,0.001c0.73-1.774,1.139-3.714,1.139-5.751
								c0-8.353-6.772-15.125-15.125-15.125c-1.817,0-3.551,0.337-5.165,0.924c-1.901-6.181-7.653-10.674-14.457-10.674
								c-4.908,0-9.257,2.348-12.02,5.971c-2.74-2.76-6.536-4.471-10.732-4.471c-6.929,0-12.756,4.665-14.546,11.021
								c-8.985,0.226-16.204,7.564-16.204,16.604c0,1.338,0.175,2.633,0.474,3.879c-5.463,2.724-9.224,8.351-9.224,14.871
								c0,3.154,0.88,6.099,2.407,8.609c0.237,0.006,0.472,0.016,0.711,0.016c9.494,0,17.814-4.496,22.459-11.238
								c6.842,7.051,16.76,11.488,27.8,11.488c11.982,0,22.639-5.23,29.479-13.353c4.782,4.846,11.425,7.853,18.772,7.853
								c3.1,0,6.073-0.539,8.837-1.522c0.346-1.268,0.536-2.6,0.536-3.978C251.633,103.153,244.861,96.381,236.508,96.381z"/>
						</g>
					</g>
					<path style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M246.514,147.756
						h-103.01c-2.137,0-3.87-1.733-3.87-3.87v-8.26c0-2.137,1.733-3.87,3.87-3.87h103.01c2.137,0,3.87,1.733,3.87,3.87v8.26
						C250.384,146.023,248.651,147.756,246.514,147.756z"/>
					<g id="afro-eyes">
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M175.507,168.507
							c0-3.384,2.743-6.127,6.127-6.127s6.127,2.743,6.127,6.127"/>
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M225.51,168.507
							c0-3.384,2.743-6.127,6.127-6.127s6.127,2.743,6.127,6.127"/>
					</g>
				</g>
			</g>
			<g id="china-main">
				<g>
					<path style="fill:#FDD5B6;" d="M459.983,419.594v-88.44c0-30.377,21.579-55.09,48.104-55.09h26.802
						c26.524,0,48.104,24.713,48.104,55.09v88.44H459.983z"/>
					<path d="M534.888,277.563c25.738,0,46.603,23.993,46.603,53.59v86.941H461.483v-86.941c0-29.597,20.865-53.59,46.603-53.59
						H534.888 M534.888,274.563h-26.802c-27.351,0-49.603,25.386-49.603,56.59v86.941v3h3h120.008h3v-3v-86.941
						C584.492,299.949,562.24,274.563,534.888,274.563L534.888,274.563z"/>
				</g>
				<g>
					<g>
						<path style="fill:#FFFFFF;" d="M478.852,420.13v-84.863l0.252-0.378c6.287-9.425,9.749-21.615,9.749-34.326v-19.562l0.898-0.394
							c4.056-1.775,8.309-2.91,12.642-3.374l1.66-0.178v33.934c0,9.572,6.685,17.36,14.901,17.36h5.067c8.216,0,14.9-7.788,14.9-17.36
							v-34.637l1.745,0.29c3.813,0.632,7.56,1.796,11.136,3.458l0.867,0.403v20.059c0,13.749,3.963,26.653,11.158,36.334l0.296,0.398
							v82.835H478.852z"/>
						<path d="M540.422,278.122c3.746,0.62,7.345,1.757,10.748,3.338v19.102c0,14.543,4.378,27.707,11.454,37.228v80.839h-82.272
							v-82.909c6.215-9.317,10.001-21.64,10.001-35.158v-18.581c3.849-1.685,7.941-2.801,12.201-3.257v32.265
							c0,10.416,7.343,18.86,16.401,18.86h5.067c9.058,0,16.401-8.444,16.401-18.86V278.122 M537.422,274.585v3.538v32.867
							c0,8.745-6.012,15.86-13.401,15.86h-5.067c-7.389,0-13.401-7.115-13.401-15.86v-32.265v-3.338l-3.319,0.355
							c-4.484,0.479-8.887,1.654-13.085,3.491l-1.797,0.787v1.962v18.581c0,12.419-3.373,24.314-9.496,33.493l-0.504,0.756v0.909
							v82.909v3h3h82.272h3v-3v-80.839v-0.993l-0.592-0.797c-7.004-9.425-10.862-22.01-10.862-35.438v-19.102v-1.914l-1.736-0.807
							c-3.702-1.721-7.579-2.924-11.522-3.577L537.422,274.585L537.422,274.585z"/>
					</g>
					<g>
						<path style="fill:#FFFFFF;" d="M484.352,414.63v-77.723c6.457-10.163,10.001-23.015,10.001-36.345v-15.871
							c1.381-0.496,2.783-0.91,4.2-1.24v27.538c0,12.605,9.152,22.86,20.401,22.86h5.067c11.249,0,20.4-10.255,20.4-22.86v-27.835
							c0.925,0.28,1.841,0.596,2.748,0.948v16.46c0,14.418,4.06,28.038,11.454,38.524v75.543H484.352z"/>
						<g>
							<path style="fill:#FDB822;" d="M495.924,319.872c3.339,10.459,12.402,17.977,23.03,17.977h5.067
								c9.836,0,18.331-6.438,22.189-15.688c1.936,6.604,4.769,12.751,8.414,18.168v70.3h-66.272v-72.581
								C491.679,332.576,494.231,326.42,495.924,319.872 M540.422,278.122v32.867c0,10.416-7.343,18.86-16.401,18.86h-5.067
								c-9.058,0-16.401-8.444-16.401-18.86v-32.265c-4.26,0.456-8.351,1.572-12.201,3.257v18.581c0,13.518-3.785,25.841-10.001,35.158
								v82.909h82.272v-80.839c-7.075-9.521-11.454-22.684-11.454-37.228v-19.102C547.767,279.879,544.168,278.743,540.422,278.122
								L540.422,278.122z"/>
						</g>
					</g>
				</g>
				<rect x="508.02" y="259.469" style="fill:#FDD5B6;" width="26.935" height="28.52"/>
				<g>
					
						<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="508.02" y1="258.089" x2="508.02" y2="282.17"/>
					
						<line style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="534.423" y1="258.089" x2="534.423" y2="282.17"/>
				</g>
				<g id="china-head">
					
						<ellipse id="china-hair-2" style="fill:#4B4C99;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" cx="518.383" cy="104.219" rx="43.25" ry="43.537"/>
					<path id="china-hair-1" style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="
						M553.633,158.34c0,22-67,22-67,0s14.999-39.834,33.5-39.834C538.635,118.506,553.633,136.34,553.633,158.34z"/>
					<g>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M471.817,211.559h-9.9
							c-4.853,0-8.788-3.934-8.788-8.788v-0.178c0-4.853,3.935-8.788,8.788-8.788h9.9V211.559z"/>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M465.176,202.683
							c0,1.576-1.277,2.853-2.853,2.853c-1.576,0-2.853-1.277-2.853-2.853s1.277-2.853,2.853-2.853"/>
					</g>
					<g>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M570.45,211.559h9.9
							c4.853,0,8.788-3.934,8.788-8.788v-0.178c0-4.853-3.935-8.788-8.788-8.788h-9.9V211.559z"/>
						<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M577.091,202.683
							c0,1.576,1.277,2.853,2.853,2.853s2.853-1.277,2.853-2.853s-1.277-2.853-2.853-2.853"/>
					</g>
					<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M570.45,213.606
						c0,26.408-21.408,47.817-47.817,47.817H517.3c-26.408,0-47.817-21.408-47.817-47.817v-36.533
						c0-21.714,17.603-39.317,39.317-39.317h22.333c21.714,0,39.317,17.603,39.317,39.317V213.606z"/>
					<path style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M538.683,223.756
						c0,11.414-8.323,20.666-18.59,20.666c-10.267,0-18.59-9.253-18.59-20.666H538.683z"/>
					<path style="fill:#4B4C99;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M575.3,190.423h-14.667
						l-7.666-8.001l-7.666,8.001h-8l-7-8.001l-7,8.001h-58.334v-6.333c0-28.903,23.43-52.333,52.333-52.333h5.667
						c28.903,0,52.333,23.43,52.333,52.333V190.423z"/>
					<g id="china-eyes">
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M492.829,202.174
							c0-3.113,2.524-5.637,5.637-5.637s5.637,2.524,5.637,5.637"/>
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M535.831,202.174
							c0-3.113,2.524-5.637,5.637-5.637c3.113,0,5.637,2.524,5.637,5.637"/>
					</g>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M528.432,207.327
						c0,4.675-3.79,8.465-8.465,8.465c-4.675,0-8.465-3.79-8.465-8.465H528.432z"/>
				</g>
			</g>
			<g id="Table">
				<rect id="table-clip" y="397.256" style="fill:#f7f7f7;" width="720" height="82.744"/>
				
					<line style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="54.633" y1="396.256" x2="85.133" y2="396.256"/>
				
					<line style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="611.668" y1="396.256" x2="652.169" y2="396.256"/>
				
					<line style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" x1="92.636" y1="396.256" x2="603.166" y2="396.256"/>
			</g>
			<g id="hero-main">
				<g id="hero-face">
					<g>
						<path style="fill:#403E76;" d="M332.062,223.002c-16.333-0.001-29.783-13.698-30.618-31.182l-0.03-0.629
							c-0.415-8.688,2.347-17.012,7.778-23.439c5.458-6.458,12.953-10.229,21.104-10.619l8.757-0.419l0.366,7.648l6.648-0.318
							c0.41-0.02,0.815-0.029,1.222-0.029c14.443,0,26.335,12.106,27.075,27.561l0.026,0.552c0.759,15.891-10.698,29.396-25.541,30.105
							l-15.405,0.736c-0.463,0.022-0.921,0.033-1.38,0.033C332.063,223.002,332.062,223.002,332.062,223.002z"/>
						<path d="M337.625,158.284l0.366,7.648l8.147-0.389c0.386-0.018,0.768-0.028,1.15-0.028c13.536,0,24.874,11.458,25.576,26.132
							l0.026,0.552c0.721,15.088-10.075,27.864-24.114,28.535l-8.147,0.389l-3.196,0.153l-4.062,0.194
							c-0.439,0.021-0.874,0.031-1.31,0.031c-15.412,0-28.321-13.046-29.12-29.753l-0.03-0.628
							c-0.821-17.179,11.471-31.725,27.456-32.489L337.625,158.284 M340.479,155.145l-2.997,0.143l-7.258,0.347
							c-17.611,0.842-31.208,16.825-30.309,35.629l0.03,0.628c0.874,18.286,14.981,32.61,32.116,32.61c0.481,0,0.97-0.012,1.453-0.035
							l4.062-0.194l3.196-0.153l8.147-0.389c7.631-0.365,14.642-3.888,19.74-9.921c5.046-5.971,7.612-13.696,7.227-21.754l-0.026-0.552
							c-0.777-16.256-13.328-28.989-28.572-28.989c-0.43,0-0.86,0.01-1.293,0.031l-5.15,0.246l-0.222-4.651L340.479,155.145
							L340.479,155.145z"/>
					</g>
					<g>
						<path style="fill:#4B4C99;" d="M346.138,165.543l-8.147,0.389l-0.366-7.648l-7.258,0.347
							c-15.984,0.764-28.277,15.31-27.456,32.489l0.03,0.628c0.209,4.371,1.25,8.489,2.945,12.191
							c9.207,3.852,19.753,5.816,30.884,5.284c13.606-0.65,25.998-4.918,35.879-11.599c0.242-1.762,0.329-3.576,0.241-5.425
							l-0.026-0.552C372.143,176.559,360.177,164.872,346.138,165.543z"/>
					</g>
					<g>
						<path style="fill:#403E76;" d="M349.863,218.722c-16.804,0-30.476-14.643-30.476-32.641v-0.629
							c0-17.999,13.671-32.641,30.476-32.641h8.767v7.657h6.656c14.859,0,26.949,12.942,26.949,28.851v0.552
							c0,15.909-12.09,28.851-26.949,28.851H349.863z"/>
						<path d="M357.13,154.311v7.656h8.156c14.055,0,25.449,12.245,25.449,27.351v0.553c0,15.106-11.394,27.351-25.449,27.351h-8.156
							h-3.2h-4.067c-16.003,0-28.976-13.942-28.976-31.141v-0.629c0-17.199,12.973-31.141,28.976-31.141H357.13 M360.13,151.311h-3
							h-7.267c-17.631,0-31.976,15.316-31.976,34.141v0.629c0,18.825,14.344,34.141,31.976,34.141h4.067h3.2h8.156
							c15.687,0,28.449-13.615,28.449-30.351v-0.553c0-16.736-12.762-30.351-28.449-30.351h-5.156v-4.656V151.311L360.13,151.311z"/>
					</g>
					<g>
						<path style="fill:#4B4C99;" d="M365.286,161.968h-8.156v-7.656h-7.267c-16.003,0-28.976,13.942-28.976,31.141v0.629
							c0,4.376,0.844,8.539,2.36,12.318c9.012,4.288,19.453,6.752,30.596,6.752c13.622,0,26.203-3.671,36.392-9.873
							c0.326-1.748,0.5-3.556,0.5-5.407v-0.553C390.735,174.213,379.341,161.968,365.286,161.968z"/>
					</g>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M408.635,259.068h11.71
						c5.741,0,10.395-4.654,10.395-10.395v-0.21c0-5.741-4.654-10.395-10.395-10.395h-11.71V259.068z"/>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M416.49,248.568
						c0,1.864,1.511,3.375,3.375,3.375c1.864,0,3.375-1.511,3.375-3.375c0-1.864-1.511-3.375-3.375-3.375"/>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M313.98,259.068h-11.71
						c-5.741,0-10.395-4.654-10.395-10.395v-0.21c0-5.741,4.654-10.395,10.395-10.395h11.71V259.068z"/>
					<path style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M306.125,248.568
						c0,1.864-1.511,3.375-3.375,3.375s-3.375-1.511-3.375-3.375c0-1.864,1.511-3.375,3.375-3.375"/>
					<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M410.875,268.88
						c0,26.855-21.77,48.625-48.625,48.625h-1.75c-26.855,0-48.625-21.77-48.625-48.625v-56.125h99V268.88z"/>
					<g id="hero-eyes">
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M332.247,247.506
							c0-3.384,2.743-6.127,6.127-6.127s6.127,2.743,6.127,6.127"/>
						<path style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M378.25,247.506
							c0-3.384,2.743-6.127,6.127-6.127s6.127,2.743,6.127,6.127"/>
					</g>
					<path style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M379.125,275.256
						c0,9.251-7.947,16.75-17.75,16.75c-9.803,0-17.75-7.499-17.75-16.75H379.125z"/>
					<g>
						<path style="fill:#403E76;" d="M373.865,220.722c-16.805,0-30.476-14.643-30.476-32.641v-0.629
							c0-17.998,13.671-32.641,30.476-32.641h8.767v7.656h6.656c14.859,0,26.948,12.942,26.948,28.851v0.553
							c0,15.908-12.089,28.851-26.948,28.851H373.865z"/>
						<path d="M381.132,156.311v7.656h8.156c14.055,0,25.449,12.245,25.449,27.351v0.553c0,15.106-11.394,27.351-25.449,27.351h-8.156
							h-3.2h-4.067c-16.003,0-28.976-13.942-28.976-31.141v-0.629c0-17.199,12.973-31.141,28.976-31.141H381.132 M384.132,153.311h-3
							h-7.267c-17.631,0-31.976,15.316-31.976,34.141v0.629c0,18.825,14.344,34.141,31.976,34.141h4.067h3.2h8.156
							c15.687,0,28.449-13.615,28.449-30.351v-0.553c0-16.736-12.762-30.351-28.449-30.351h-5.156v-4.656V153.311L384.132,153.311z"/>
					</g>
					<path style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" d="M410.505,228.756
						H309.495c-2.137,0-3.87-1.733-3.87-3.87v-8.26c0-2.137,1.733-3.87,3.87-3.87h101.009c2.137,0,3.87,1.733,3.87,3.87v8.26
						C414.375,227.023,412.642,228.756,410.505,228.756z"/>
					
						<polygon style="fill:#E8B795;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
						352.542,261.48 370.208,261.48 361.375,244.443 		"/>
					<g>
						<path style="fill:#4B4C99;" d="M389.288,163.968h-8.156v-7.656h-7.267c-16.003,0-28.976,13.942-28.976,31.141v0.629
							c0,4.376,0.844,8.539,2.36,12.318c9.012,4.288,19.453,6.752,30.596,6.752c13.622,0,26.203-3.671,36.392-9.873
							c0.326-1.748,0.5-3.556,0.5-5.407v-0.553C414.737,176.213,403.343,163.968,389.288,163.968z"/>
					</g>
				</g>
				<g id="hero-hand">
					
						<rect x="204.967" y="375.589" style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;" width="137.667" height="20"/>
					<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
						M189.965,382.974c0,2.825-2.29,5.115-5.115,5.115h-0.103c-2.825,0-5.115-2.29-5.115-5.115v-2.77c0-2.825,2.29-5.115,5.115-5.115
						h0.103c2.825,0,5.115,2.29,5.115,5.115V382.974z"/>
					<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
						M211.099,395.649c-3.479,0-6.299-2.82-6.299-6.299v-0.127c0-3.479,2.82-6.299,6.299-6.299h9.569c3.479,0,6.299,2.82,6.299,6.299
						v0.127c0,3.479-2.82,6.299-6.299,6.299H211.099z"/>
					<path style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
						M200.966,382.974c0,2.825-2.29,5.115-5.115,5.115h-0.103c-2.825,0-5.115-2.29-5.115-5.115v-7.77c0-2.825,2.29-5.115,5.115-5.115
						h0.103c2.825,0,5.115,2.29,5.115,5.115V382.974z"/>
					
						<path id="hero-index-finger" style="fill:#FDD5B6;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
						M213.967,379.974c0,2.825-2.29,5.115-5.115,5.115h-0.103c-2.825,0-5.115-2.29-5.115-5.115v-7.77c0-2.825,2.29-5.115,5.115-5.115
						h0.103c2.825,0,5.115,2.29,5.115,5.115V379.974z"/>
					<g id="mouse">
						<path style="fill:#F2F2F2;" d="M184.798,396.089c-2.572,0-4.665-2.093-4.665-4.664v-3.663c0-5.058,4.115-9.172,9.172-9.172
							h20.322c5.058,0,9.173,4.114,9.173,9.172v3.663c0,2.571-2.093,4.664-4.665,4.664H184.798z"/>
						<path d="M209.628,380.089c4.237,0,7.673,3.435,7.673,7.672v3.663c0,1.748-1.417,3.165-3.165,3.165h-29.337
							c-1.748,0-3.165-1.417-3.165-3.165v-3.663c0-4.237,3.435-7.672,7.673-7.672H209.628 M209.628,377.089h-20.322
							c-5.885,0-10.673,4.788-10.673,10.672v3.663c0,3.399,2.765,6.165,6.165,6.165h29.337c3.399,0,6.165-2.765,6.165-6.165v-3.663
							C220.3,381.877,215.512,377.089,209.628,377.089L209.628,377.089z"/>
					</g>
				</g>
				
					<path id="pc-bottom-part" style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
					M439.87,395.506H280.41c-5.741,0-12.395-5.654-12.395-11.395v-0.105h184.25v0.105C452.265,389.852,445.611,395.506,439.87,395.506z
					"/>
				<g id="pc-top-part">
					<path style="fill:#FFFFFF;" d="M288.015,387.506c-0.829,0-1.5-0.672-1.5-1.5v-98c0-0.828,0.671-1.5,1.5-1.5h144.25
						c0.828,0,1.5,0.672,1.5,1.5v98c0,0.828-0.672,1.5-1.5,1.5H288.015z"/>
					<path d="M432.265,288.006v98h-144.25v-98H432.265 M432.265,285.006h-144.25c-1.657,0-3,1.343-3,3v98c0,1.657,1.343,3,3,3h144.25
						c1.657,0,3-1.343,3-3v-98C435.265,286.349,433.922,285.006,432.265,285.006L432.265,285.006z"/>
				</g>
				<g id="pc-logo">
					
						<circle id="pear" style="fill:#FDB822;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="360.87" cy="340.552" r="11.25"/>
					<path style="fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;" d="
						M371.76,317.311c-2.547,2.547-3.563,5.928-2.909,8.708c2.78,0.654,6.161-0.361,8.708-2.908c2.547-2.547,3.563-5.928,2.908-8.708
						C377.687,313.749,374.307,314.764,371.76,317.311z"/>
				</g>
				<g id='cord-fix' style="display:none;">
					<path id="pc-cord" style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
					M415,392 v7 c0,4,3,6,6,6 h36 c10,0,20,9,20,20 v1 c0,10 -9,20 -20,20 H245 c-4,0 -6 -3 -6 -6 v-1 c0 -4,3 -6, 6 -6 h15 c4,0,6 -3,6 -6 v-1 c0 -3 -3 -6 -6 -6 h-90 c-4,0 -6 -3 -6 -6 v-1 c0 -4,3 -6,6 -6 h22 c4,0,6 -3,6 -6 v-9;"/>
					</g>
			</g>
			<g id="cup" style="transform:translateX(-380px);">
				<g>
					<path style="fill:#FFFFFF;" d="M488.125,388.506c-5.513,0-9.997-4.485-9.997-9.998v-7.484c0-5.513,4.484-9.998,9.997-9.998h14.833
						v27.48H488.125z M488.125,370.025c-0.55,0-0.997,0.447-0.997,0.998v7.484c0,0.551,0.447,0.998,0.997,0.998h5.833v-9.48H488.125z"
						/>
					<path d="M501.458,362.526v24.48h-13.333c-4.686,0-8.497-3.813-8.497-8.498v-7.484c0-4.686,3.812-8.498,8.497-8.498H501.458
						 M488.125,381.006h7.333v-12.48h-7.333c-1.377,0-2.497,1.121-2.497,2.498v7.484C485.627,379.885,486.748,381.006,488.125,381.006
						 M504.458,359.526h-3h-13.333c-6.34,0-11.497,5.158-11.497,11.498v7.484c0,6.34,5.158,11.498,11.497,11.498h13.333h3v-3v-24.48
						V359.526L504.458,359.526z M488.627,371.526h3.83v6.48h-3.83V371.526L488.627,371.526z"/>
				</g>
				<g>
					<path style="fill:#FFFFFF;" d="M500.341,396.277c-3.554,0-6.445-2.891-6.445-6.444v-38.612h35.998v38.612
						c0,3.554-2.891,6.444-6.444,6.444H500.341z"/>
					<path d="M528.394,352.721v37.112c0,2.731-2.214,4.945-4.945,4.945H500.34c-2.731,0-4.945-2.214-4.945-4.945v-37.112H528.394
						 M531.394,349.721h-3h-32.999h-3v3v37.112c0,4.381,3.564,7.945,7.945,7.945h23.108c4.381,0,7.945-3.564,7.945-7.945v-37.112
						V349.721L531.394,349.721z"/>
				</g>
			    
			    <g id="smoke"  transform="translate(-15, 35)">>
			  		<path id="smoke_1" stroke-dasharray="40 40" style="fill:none;stroke:#ccc;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" 
			            d="M516.897,305c1.667-2.228,1.667-5.287,0-7.515l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515l1.378-1.842
					c1.667-2.228,1.667-5.287,0-7.515l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515l1.378-1.842c1.667-2.228,1.667-5.287;"/>
				
					<path id="smoke_2" stroke-dasharray="70 70" style="fill:none;stroke:#ccc;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="M526.398,307.654c1.667-2.228,1.667-5.287,0-7.515l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515l1.378-1.842
					c1.667-2.228,1.667-5.287,0-7.515l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515l1.378-1.842c1.667-2.228,1.667-5.287,0-7.515
					l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515;"/>
				
					<path id="smoke_3" stroke-dasharray="60 60"style="fill:none;stroke:#ccc;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="M535.898,306c1.667-2.228,1.667-5.287,0-7.515l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515l1.378-1.842
					c1.667-2.228,1.667-5.287,0-7.515l-1.378-1.842c-1.667-2.228-1.667-5.287,0-7.515l1.378-1.842c1.667-2.228,1.667-5.287,0-7.515
					l-1.378-1.842c-1.667-2.228-1.667-5.287;"/>  
			  </g>
			</g>
			  
			 <? animation magic ?>
			  
			      <animate xlink:href="#smoke_1" 
			         attributeName="stroke-dashoffset" 
			         attributeType="XML"
			         repeatCount="indefinite"
			         begin="0s" from="119" to="39" dur="2s" fill="freeze" /> 
			  
			   <animateTransform 
			      xlink:href="#smoke_1" attributeName="transform"  attributeType="XML" type="translate"
			      from="0 0" to="0 -10" dur="2s" begin="0s"
			      repeatCount="indefinite" fill="freeze" 
			      />
			  
			  <animate xlink:href="#smoke_2" 
			           attributeName="stroke-dashoffset" 
			           attributeType="XML"
			           repeatCount="indefinite"
			           begin="0.2s" from="210" to="80" dur="3s" fill="freeze" /> 
			  
			     <animateTransform 
			      xlink:href="#smoke_2" attributeName="transform"  attributeType="XML" type="translate"
			      from="0 0" to="0 -10" dur="3s" begin="0.2s"
			      repeatCount="indefinite" fill="freeze" 
			      />
			   
			  
			  <animate xlink:href="#smoke_3" 
			         attributeName="stroke-dashoffset" 
			         attributeType="XML"
			         repeatCount="indefinite"
			         begin="0.1s" from="180" to="59" dur="2.5s" fill="freeze" /> 

			  <animateTransform 
			      xlink:href="#smoke_3" attributeName="transform"  attributeType="XML" type="translate"
			      from="0 0" to="0 -14" dur="2.5s" begin="0.1s"
			      repeatCount="indefinite" fill="freeze" 
			      />
			  
			</svg>
			-->
		</figure>
	</div>
</header>

<div class="o-section">
	<section class="c-listing-wrap">
		<article class="o-wrap c-listing" itemscope="" itemtype="http://schema.org/Blog">
			<a href="#" class="c-listing__link" itemprop="url" title="Improving front-end performance">
				<h2 class="c-listing__heading" itemprop="name">Improving front-end <span class="u-highlight-text">performance</span></h2>

				<ul class="c-listing__meta-data">
					<li class="c-listing__meta-data__item">
						<time datetime="2015-05-2409:33:38" pubdate="pubdate">24<sup>th</sup> May 2015</time>
						<meta itemprop="dateCreated" content="2015-05-24">
					</li>
					<li class="c-listing__meta-data__item" itemprop="author">Rob Simpson</li>
					<li class="c-listing__meta-data__item c-listing__meta-data__item--visited u-hide-mobile">
						<span class="c-listing__visited-text">Seen</span>
						<span class="c-listing__visited-badge">
							<svg class="icon icon--check">
								<use xlink:href="#icon--check"></use>
							</svg>
						</span>
					</li>
				</ul>

				<div class="c-listing__description">
					<p>With the latest update to GoSquared we set ourselves the target of achieving a smooth 60 frames per second for all the core UI and animation, across all devices.</p>
				</div>
			</a>
		</article>

		<article class="o-wrap c-listing" itemscope="" itemtype="http://schema.org/Blog">
			<a href="#" class="c-listing__link" itemprop="url" title="An introduction to creating your own front-end boilerplate">
				<h2 class="c-listing__heading" itemprop="name">An introduction to creating your own <span class="u-highlight-text">front-end boilerplate</span></h2>

				<ul class="c-listing__meta-data">
					<li class="c-listing__meta-data__item">
						<time datetime="2015-05-2409:33:38" pubdate="pubdate">23<sup>rd</sup> May 2015</time>
						<meta itemprop="dateCreated" content="2015-05-23">
					</li>
					<li class="c-listing__meta-data__item" itemprop="author">Rob Simpson</li>
				</ul>

				<div class="c-listing__description">
					<p>With the latest update to GoSquared we set ourselves the target of achieving a smooth 60 frames per second for all the core UI and animation, across all devices.</p>
				</div>
			</a>
		</article>

		<article class="o-wrap c-listing" itemscope="" itemtype="http://schema.org/Blog">
			<a href="#" class="c-listing__link" itemprop="url" title="A fresh start at geckotree">
				<h2 class="c-listing__heading" itemprop="name">A fresh start at <span class="u-highlight-text">geckotree</span></h2>

				<ul class="c-listing__meta-data">
					<li class="c-listing__meta-data__item">
						<time datetime="2015-05-2409:33:38" pubdate="pubdate">22<sup>nd</sup> May 2015</time>
						<meta itemprop="dateCreated" content="2015-05-22">
					</li>
					<li class="c-listing__meta-data__item" itemprop="author">Rob Simpson</li>
				</ul>

				<div class="c-listing__description">
					<p>With the latest update to GoSquared we set ourselves the target of achieving a smooth 60 frames per second for all the core UI and animation, across all devices.</p>
				</div>
			</a>
		</article>
	</section>

	<nav class="c-pagination u-center-content">
		<ul class="c-pagination__list">
			<li class="c-pagination__item">
				<span class="c-pagination__link c-pagination__link--prev c-pagination__link--disabled">
					<span class="c-pagination__link__text c-pagination__link--prev__text">Newer</span>
					<svg class="icon icon--arrow-left">
						<use xlink:href="#icon--arrow-left"></use>
					</svg>
				</span>
			</li>

			<li class="c-pagination__item">
				<a href="#" class="c-pagination__link c-pagination__link--next">
					<span class="c-pagination__link__text c-pagination__link--next__text">Older</span>
					<svg class="icon icon--arrow-right">
						<use xlink:href="#icon--arrow-right"></use>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
</div>