---
title: Home Page
---

<section class="c-hero c-hero--main">
	<figure class="c-hero__figure">
		
	</figure>

	<header class="c-hero__header">
		<h1 class="c-hero__heading mega">We'll <span class="u-highlight-text">design</span> &amp; <span class="u-highlight-text">develop</span> a website that your users will love</h1>
	</header>
</section>

<div class="o-wrap">
	<section class="c-case-study-card-row">
		<div class="c-case-study-card-col">
			<article class="c-case-study-card s-case-study-card--geckotree">
				<header class="c-case-study-card__header">
					<h2 class="c-case-study-card__heading gamma">Geckotree</h2>

					<div class="c-case-study-card__description">
						<p>Stop searching for the best technology companies in the Dallas/Fort Worth area, when you sign up we’ll send you our comprehensive list.</p>
					</div>
				</header>

				<footer class="c-case-study-card__ctas">
					<a href="#" class="c-button c-button--primary">case study</a>
				</footer>
			</article>
		</div>
		
		<div class="c-case-study-card-col">
			<article class="c-case-study-card s-case-study-card--adspy">
				<header class="c-case-study-card__header">
					<h2 class="c-case-study-card__heading gamma">OnlineAdSpy</h2>

					<div class="c-case-study-card__description">
						<p>Stop searching for the best technology companies in the Dallas/Fort Worth area, when you sign up we’ll send you our comprehensive list.</p>
					</div>
				</header>
				
				<footer class="c-case-study-card__ctas">
					<a href="#" class="c-button c-button--primary">case study</a>
				</footer>
			</article>
		</div>
	</section>
</div>