---
title: Search
---

<header class="c-page__heading" style="padding-bottom: 0;">
	<div class="o-wrap o-wrap--x-large">
		<h1 class="mega" style="color:#BCBEC0;padding-bottom:0;"><div style="display:inline-block;width:2px;height:70px;margin-bottom:-14px;margin-right:10px;background:#383838;"></div>Type to <span class="u-highlight-text">search</span>...</h1>
	</div>
</header>

<div class="o-section">
	<section class="c-listing-wrap">
		<article class="o-wrap c-listing" itemscope="" itemtype="http://schema.org/Blog">
			<a href="#" class="c-listing__link" itemprop="url" title="Improving front-end performance">
				<h2 class="c-listing__heading" itemprop="name">Improving front-end <span class="u-highlight-text" style="color:#42bbb7;">performance</span></h2>

				<ul class="c-listing__meta-data">
					<li class="c-listing__meta-data__item">
						<span style="background:#42bbb7;border-radius:40px;color:#fff;padding:5px 10px;">blog</span>
					</li>
					<li class="c-listing__meta-data__item">http://geckotree.co.uk/blog/improving-front-end-performance</li>
				</ul>

				<div class="c-listing__description">
					<p>Last year I wrote a post, Need for Speed, where I shared my workflows and techniques along with the tools involved in the development of my site.</p>
				</div>
			</a>
		</article>

		<article class="o-wrap c-listing" itemscope="" itemtype="http://schema.org/Blog">
			<a href="#" class="c-listing__link" itemprop="url">
				<h2 class="c-listing__heading" itemprop="name">Responsible <span class="u-highlight-text" style="color:#42bbb7;">social share links</span></h2>

				<ul class="c-listing__meta-data">
					<li class="c-listing__meta-data__item">
						<span style="background:#42bbb7;border-radius:40px;color:#fff;padding:5px 10px;">blog</span>
					</li>
					<li class="c-listing__meta-data__item">http://geckotree.co.uk/blog/responsible-social-share-links</li>
				</ul>

				<div class="c-listing__description">
					<p>Social share scripts are convenient and easy to copy &amp; paste but rely on JavaScript and add additional overhead to your site, which means more HTTP requests and slower load times.</p>
				</div>
			</a>
		</article>

		<article class="o-wrap c-listing" itemscope="" itemtype="http://schema.org/Blog">
			<a href="#" class="c-listing__link" itemprop="url">
				<h2 class="c-listing__heading" itemprop="name">Why <span class="u-highlight-text">work</span> with us?</h2>

				<ul class="c-listing__meta-data">
					<li class="c-listing__meta-data__item">
						<span style="background:#57B275;border-radius:40px;color:#fff;padding:5px 10px;">about</span>
					</li>
					<li class="c-listing__meta-data__item">http://geckotree.co.uk/about</li>
				</ul>

				<div class="c-listing__description">
					<p>Social share scripts are convenient and easy to copy &amp; paste but rely on JavaScript and add additional overhead to your site, which means more HTTP requests and slower load times.</p>
				</div>
			</a>
		</article>
	</section>

	<nav class="c-pagination u-center-content">
		<ul class="c-pagination__list">
			<li class="c-pagination__item">
				<span class="c-pagination__link c-pagination__link--prev c-pagination__link--disabled">
					<span class="c-pagination__link__text c-pagination__link--prev__text">Newer</span>
					<svg class="icon icon--arrow-left">
						<use xlink:href="#icon--arrow-left"></use>
					</svg>
				</span>
			</li>

			<li class="c-pagination__item">
				<a href="#" class="c-pagination__link c-pagination__link--next">
					<span class="c-pagination__link__text c-pagination__link--next__text">Older</span>
					<svg class="icon icon--arrow-right">
						<use xlink:href="#icon--arrow-right"></use>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
</div>