/* ===========================================================

	# Case Study - Card

=========================================================== */

.c-case-study-card__link {
	background-position: bottom -7rem right -12rem;
	background-repeat: no-repeat;
	display: block;
	padding: $padding-small $padding-small / 2;
	transition: background-color $speed ease,
				transform $speed ease;

	&:active {
		transform: $active-scale-small;
	}
}

.c-case-study-card__header {
	margin-bottom: $padding-small;
	max-width: 54rem;
}

.c-case-study-card__heading {
	color: $heading-colour;
}

.c-case-study-card__description {
	color: $text-colour;
}

.c-case-study-card__services {
	display: inline-block;
	margin-bottom: $line-height / 2;
}

@include respond-min( $mq-small ) {
	.c-case-study-card__link {
		padding: $padding-small;
	}
}

@include respond-max( $mq-small ) {
	.c-case-study-card-row {
		margin-left: -$padding-small / 2;
		margin-right: -$padding-small / 2;
	}
}

@include respond-min-max( $mq-small, $mq-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-small;
		margin-right: -$padding-small;
	}
}

@include respond-max( $mq-large ) {
	.c-case-study-card-col {
		& + & {
			margin-top: .1rem;
		}
	}
}

@include respond-min( $mq-large ) {
	.c-case-study-card-row {
		@include clearfix;
		margin-left: -.1rem;
	}

	.c-case-study-card-col {
		float: left;
		padding-left: .1rem;
		width: 50%;
	}

	.c-case-study-card__link {
		padding: $padding-medium $padding-small;
	}

	.c-case-study-card__header {
		margin-bottom: $padding-small;
	}

	.cssanimations {
		.c-case-study-card {
			opacity: 0;
		}

		.c-case-study-card {
			animation: fadeInUp $speed * 2 cubic-bezier( 0.165, 0.84, 0.44, 1 ) both;
			animation-delay: $speed;
		}

		.c-case-study-card-row > :last-child {
			.c-case-study-card {
				animation-delay: $speed * 1.5;
			}
		}
	}
}

@include respond-min( $mq-x-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-small / 2;
	}

	.c-case-study-card-col {
		padding-left: $padding-small / 2;
	}
}

@include respond-min-max( $mq-large, $mq-x-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-small - .1rem;
		margin-right: -$padding-small;
	}
}
