/* ===========================================================

	# Case Study - Hero

=========================================================== */

.c-case-study__hero {
	background-color: rgba( $pri, .2 );
	margin-top: -8.8rem;
	padding-top: 8.8rem;
}
