/* ===========================================================

	# MEDIA

=========================================================== */

img {
  	max-width: 100%;
  	vertical-align: top;
}

figcaption {
	color: $grey-2;
	font-size: 80%;
	padding-left: 2rem;
	padding-top: 1rem;
}

.o-media {
	margin: $line-height 0 $line-height -2rem;

	img {
		border-radius: 0 $border-radius $border-radius 0;
		width: 100%;
	}
}

.o-media--video {
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-top: 56.25%;
	}

	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.o-media--large {
	position: relative;
}

@include respond-min( $mq-small ) {
	figcaption {
		padding-left: 4rem;
	}

	.o-media {
		margin-left: -4rem;
	}
}

@include respond-min( $mq-medium ) {
	figcaption {
		padding-left: 0;
	}

	.o-media {
		margin: $line-height 0;

		img {
			border-radius: $border-radius;
		}
	}

	.o-media--left,
	.o-media--right {
		margin-bottom: $line-height;
		margin-top: $line-height;
		width: 40%;

		+ * {
			margin-top: $line-height;
		}
	}

	.o-media--left {
		float: left;
		margin-right: $line-height;
	}

	.o-media--right {
		float: right;
		margin-left: $line-height;
	}
}

@include respond-min( $mq-large ) {
	.o-media--large {
		margin-left: -7.5%;
		width: 115%;
	}
}

@include respond-min( $mq-x-large ) {
	.o-media--large {
		margin-left: -15%;
		width: 130%;
	}
}
