/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $light-2;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.o-page__content {
	background: $background-colour;
	flex: 1 1 auto;
	padding-bottom: $padding-small;
	position: relative;
	width: 100%;
}

.o-page__heading {
	padding-top: $padding-small / 2;
}

@include respond-min( $mq-small ) {
	.o-page {
		margin-bottom: 38.6rem + $padding-medium;
	}

	.o-page__content {
		padding-bottom: $padding-medium;
	}

	.o-page__heading {
		padding-top: $padding-medium / 2;
	}
}

@include respond-min( $mq-medium ) {
	.o-page {
		margin-bottom: 45.3rem + $padding-large;
	}

	.o-page__content {
		padding-bottom: $padding-large;
	}

	.o-page__heading {
		text-align: center;
		padding-top: $padding-large / 2;
	}
}

@include respond-max( $mq-large ) {
	.o-page__content {
		padding-top: 7.8rem;
	}
}

@include respond-min( $mq-large ) {
	.o-page__content {
		padding-top: 8.8rem;
	}
}
