/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: #EFEFEF; //@todo var
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.o-page__content {
	background: $background-colour;
	flex: 1 1 auto;
	padding-bottom: $padding-small;
	width: 100%;
}

@include respond-min( $mq-small ) {
	.o-page {
		margin-bottom: 38.6rem + $padding-medium;
	}

	.o-page__content {
		padding-bottom: $padding-medium;
	}
}

@include respond-min( $mq-medium ) {
	.o-page {
		margin-bottom: 45.3rem + $padding-large;
	}

	.o-page__content {
		padding-bottom: $padding-large;
	}
}
