/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.c-page {
	background: $light-2;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}

.c-page__content {
	background: $background-colour;
	flex: 1 1 auto;
	position: relative;
	width: 100%;

	&:after {
		background: $light-1;
		border-radius: 50%;
		bottom: -$padding-small / 2;
		content: '';
		height: $padding-small;
		left: -10%;
		position: absolute;
		width: 120%;
		z-index: -1;
	}
}

.c-page__heading {
	padding-top: $padding-small;
}

@include respond-min( $mq-small ) {
	.c-page {
		margin-bottom: 38.6rem + $padding-medium;
	}

	.c-page__content {
		&:after {
			bottom: -$padding-medium / 2;
			height: $padding-medium;
		}
	}

	.c-page__heading {
		padding-top: $padding-medium;
	}
}

@include respond-min( $mq-medium ) {
	.c-page {
		margin-bottom: 45.3rem + $padding-large;
	}

	.c-page__content {
		&:after {
			bottom: -$padding-large / 2;
			height: $padding-large;
		}
	}

	.c-page__heading {
		text-align: center;
		padding-top: $padding-large;
	}
}

@include respond-max( $mq-large ) {
	.c-page__content {
		padding-top: 7.8rem;
	}
}

@include respond-min( $mq-large ) {
	.c-page__content {
		padding-top: 8.8rem;

		&:after {
			bottom: -$padding-large;
			height: $padding-large * 2;
		}
	}
}
