/* ===========================================================

	# Section

=========================================================== */

.o-section {
	padding-bottom: $padding-small;
	padding-top: $padding-small;
}

.o-section__header {
	margin-bottom: $padding-small / 2;
}

@include respond-min( $mq-small ) {
	.o-section {
		padding-bottom: $padding-medium;
		padding-top: $padding-medium;
	}

	.o-section__header {
		margin-bottom: $padding-medium / 2;
	}
}

@include respond-min( $mq-medium ) {
	.o-section {
		padding-bottom: $padding-large;
		padding-top: $padding-large;
	}

	.o-section__header {
		margin-bottom: $padding-large / 2;
	}
}

@include respond-min( $mq-large ) {
	.o-section__header--center {
		text-align: center;
	}
}

@include respond-max( $mq-x-large ) {
	.o-section {
		& + & {
			// padding-top: 0;
		}
	}
}

@include respond-min( $mq-x-large ) {
	.o-section__header {
		margin-bottom: $padding-large;
	}
}
