/* ===========================================================

	# Section

=========================================================== */

.o-section {
	padding-bottom: $padding-small;
	padding-top: $padding-small;
}

.o-section__header {
	margin-bottom: $padding-small;
}

@include respond-min( $mq-small ) {
	.o-section {
		padding-bottom: $padding-medium;
		padding-top: $padding-medium;
	}

	.o-section__header {
		margin-bottom: $padding-medium;
	}
}

@include respond-min( $mq-medium ) {
	.o-section {
		padding-bottom: $padding-large;
		padding-top: $padding-large;
	}

	.o-section__header {
		margin-bottom: $padding-large;
	}
}
