/* ===========================================================

	# Wrap

=========================================================== */

.o-wrap {
	margin-left: auto;
	margin-right: auto;
	padding-left: $padding-small / 2;
	padding-right: $padding-small / 2;

	.o-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

.o-wrap--center {
	margin-left: auto;
	margin-right: auto;
}

.o-wrap--medium {
	max-width: $wrap-medium;
}

.o-wrap--large {
	max-width: $wrap-large;
}

.o-wrap--x-large {
	max-width: $wrap-x-large;
}

.o-wrap--xx-large {
	max-width: $wrap-xx-large;
}

@include respond-min( $mq-small ) {
	.o-wrap {
		padding-left: $padding-small;
		padding-right: $padding-small;
	}
}
