/* ===========================================================

	# AdSpy - Base

=========================================================== */

$adspy-pri:		#139DE5;
$adspy-sec:		#139DE5;
$adspy-ter:		#139DE5;

.s-case-study--adspy {
	.u-highlight-text {
		color: $adspy-pri;
	}

	.c-button {
		background: $adspy-pri;
	}

	.c-case-study__page-nav__link {
		&:hover,
		&:focus,
		&.is-active {
			.c-case-study__page-nav__link__dot {
				background: $adspy-pri;
			}
		}
	}
}
