/* ===========================================================

	# AdSpy - Colours

=========================================================== */

//@todo set as variables

.c-case-study__colours__colour--pri {
	background: linear-gradient( to right, #229EE0 50%, #2095D4 50% );
}

.c-case-study__colours__colour--sec {
	background: linear-gradient( to right, #6DBD4C 50%, #6AAE48 50% );
}

.c-case-study__colours__colour--ter {
	background: linear-gradient( to right, #F5C022 50%, #F8AC13 50% );
}
