<section class="o-section o-wrap o-wrap--xx-large">
    <div class="c-case-study__section__grid-row">
        <header class="c-case-study__section__header c-case-study__section__grid-col c-case-study__section__grid-col--5">
            <h3 class="c-case-study__section__heading u-highlight-text">Ad machine</h3>
            <div class="c-case-study__section__description">
                <p>To kick off the project we started by creating a range of different style tiles - this allowed us to quickly create different looks and feel for the site.</p>
            </div>
        </header>
        <figure class="c-case-study__section__grid-col c-case-study__section__grid-col--7 u-center-content">
            <img src="/assets/img/case-studies/adspy/admachine.svg" alt="">
        </figure>
    </div>
</section>