<div class="o-section c-social-share u-center-content">
	<h2 class="c-social-share__heading gamma"><span class="u-highlight-text">Share</span> with your pals!</h2>
    
	<ul class="c-social-share__list">
		<li class="c-social-share__item">
			<a href="https://www.facebook.com/sharer/sharer.php?u=" class="c-social-share__link" target="_blank">
                <svg class="icon icon--facebook">
                    <use xlink:href="#icon--facebook"></use>
                </svg>
                <span class="u-hide-text">Facebook</span>
            </a>
		</li>
		<li class="c-social-share__item">
			<a href="https://twitter.com/intent/tweet/?text=&url=&via=geckotree&hashtags=geckotree" class="c-social-share__link" target="_blank">
                <svg class="icon icon--twitter">
                    <use xlink:href="#icon--twitter"></use>
                </svg>
                <span class="u-hide-text">Twitter</span>
            </a>
		</li>
		<li class="c-social-share__item">
			<a href="https://plus.google.com/share?url=https%3A%2F%2Fgeckotree.co.uk%2F" class="c-social-share__link" target="_blank">
                <svg class="icon icon--googleplus">
                    <use xlink:href="#icon--googleplus"></use>
                </svg>
                <span class="u-hide-text">Google+</span>
            </a>
		</li>
		<li class="c-social-share__item">
			<a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=OnlineAdSpy%20Case%20Study&source=http%3A%2F%2Fgeckotree.co.uk%2F&summary=" class="c-social-share__link" target="_blank">
                <svg class="icon icon--linkedin">
                    <use xlink:href="#icon--linkedin"></use>
                </svg>
                <span class="u-hide-text">LinkedIn</span>
            </a>
		</li>
	</ul>
</div>