<footer class="o-page__footer" role="contentinfo">
	<ul class="c-page__footer__list">
		<li class="c-page__footer__item">
			<a href="https://twitter.com/{{ site.twitter }}" class="c-page__footer__link c-page__footer__link--twitter">
				<i class="icon icon--twitter" data-grunticon-embed></i>
			</a>
		</li>
		<li class="c-page__footer__item">
			<a href="http://dribbble.com/{{ site.dribbble }}" class="c-page__footer__link c-page__footer__link--dribbble">
				<i class="icon icon--dribbble" data-grunticon-embed></i>
			</a>
		</li>
		<li class="c-page__footer__item">
			<a href="https://instagram.com/{{ site.instagram }}" class="c-page__footer__link c-page__footer__link--instagram">
				<i class="icon icon--instagram" data-grunticon-embed></i>
			</a>
		</li>
	</ul>

	<span class="c-page__footer__label">
		Made with
		<i class="icon icon--heart" data-grunticon-embed></i>
		in the UK
	</span>
</footer>