<header class="c-page__header js-page-header" role="banner">
	<div class="c-nav c-nav--main">
		<a href="{{ site.baseurl }}/" class="c-nav__logo">
			<i class="icon icon--logo" data-grunticon-embed></i>
		</a>

		<nav class="c-nav__mobile" role="navigation" aria-hidden="true">
			<ul class="c-nav__list">
				<li class="c-nav__item">
					<a href="#" class="c-nav__link">work <i class="icon icon--briefcase" data-grunticon-embed></i></a>
				</li>
				<li class="c-nav__item">
					<a href="#" class="c-nav__link">services <i class="icon icon--coffee" data-grunticon-embed></i></a>
				</li>
				<li class="c-nav__item">
					<a href="#" class="c-nav__link">about <i class="icon icon--heart" data-grunticon-embed></i></a>
				</li>
				<li class="c-nav__item">
					<a href="#" class="c-nav__link">news <i class="icon icon--chat" data-grunticon-embed></i></a>
				</li>
				<li class="c-nav__item c-nav__item--mobile">
					<a href="#" class="c-nav__link">blog <i class="icon icon--chat" data-grunticon-embed></i></a>
				</li>
				<li class="c-nav__item c-nav__item--mobile">
					<a href="#" class="c-nav__link button--primary">planner <i class="icon icon--feather" data-grunticon-embed></i></a>
				</li>
			</ul>
		</nav>

		<nav class="c-nav__desktop" role="navigation">
			<ul class="c-nav__list">
				<li class="c-nav__item">
					<a href="#" class="c-nav__link">blog <i class="icon icon--chat" data-grunticon-embed></i></a>
				</li>
				<li class="c-nav__item">
					<a href="#" class="c-nav__link button--primary">planner <i class="icon icon--feather" data-grunticon-embed></i></a>
				</li>
			</ul>
		</nav>

		<button class="c-nav__button c-nav__nav-toggle js-nav-toggle" data-toggle="c-nav__mobile">
			<i class="icon icon--menu" data-grunticon-embed></i>
		</button>

		<!-- <button class="c-nav__button c-nav__search-toggle js-nav-search-toggle" data-toggle="c-nav__search">
			<i class="icon icon--search" data-grunticon-embed></i>
		</button> -->

		<!-- <div class="c-nav__search" aria-hidden="true">
			<input class="c-input js-nav-search-input" type="text" placeholder="search&hellip;" autocomplete="off">
		</div> -->
	</div>
</header>