/* ===========================================================

	# PAGE

=========================================================== */

html {
	height: 100%;
}

.o-sg-page {
	min-height: 100%;
}

@include respond-min( $mq-medium ) {
	.o-sg-page {
		padding-left: 7rem;
	}
}
