<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td align="center" bgcolor="#57B275" style="border-radius: 40px;">
						<a href="#" target="_blank" class="c-button">pay invoice</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>