<table cellpadding="0" cellspacing="0" border="0" width="100%" class="c-header">
	<tr>
		<td width="100%" class="o-spacer-cell o-spacer-cell--medium">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table align="center" cellpadding="0" cellspacing="0" border="0" width="600" class="o-wrap c-header__inner">
				<tr>
					<td valign="top" class="o-grid-col--half">
						<img src="assets/img/logo@2x.png" alt="" height="48" width="201">
						{{!-- <svg width="48px" height="48px" style="float:left;">
							<g viewBox="0 0 48 48"><title>Geckotree</title>  <path d="M24 0C10.745 0 0 10.745 0 24s10.745 24 24 24 24-10.745 24-24S37.255 0 24 0zm4.96 44.2c-1.768-3.058-2.415-11.35-2.548-13.35 1.267-.546 2.323-1.643 2.38-2.767l5.205.65c.545.987 1.595 1.656 2.803 1.656 1.767 0 3.198-1.434 3.198-3.2 0-1.768-1.43-3.2-3.198-3.2-1.203 0-2.25.662-2.797 1.643l-5.212.65c-.023-.576-.248-1.174-.613-1.725l3.92-3.05c.227.052.46.08.702.08 1.766 0 3.2-1.43 3.2-3.2 0-1.766-1.433-3.2-3.2-3.2-1.768 0-3.2 1.434-3.2 3.2 0 .38.07.744.19 1.082l-2.917 3.75c-.596-.422-1.28-.713-1.98-.79l.656-5.24c.98-.547 1.65-1.596 1.65-2.8 0-1.768-1.435-3.2-3.202-3.2s-3.2 1.43-3.2 3.2c0 1.204.666 2.253 1.65 2.8l.656 5.24c-.708.078-1.4.375-2.002.805l-2.906-3.737c.128-.346.202-.718.202-1.11 0-1.767-1.433-3.2-3.2-3.2-1.768 0-3.2 1.433-3.2 3.2 0 1.768 1.43 3.2 3.2 3.2.233 0 .46-.026.678-.073l3.933 3.06c-.357.544-.575 1.136-.604 1.71l-5.214-.653c-.547-.98-1.593-1.644-2.794-1.644-1.767 0-3.2 1.433-3.2 3.2 0 1.767 1.433 3.2 3.2 3.2 1.207 0 2.257-.67 2.802-1.655l5.203-.65c.04 1.273 1.09 2.297 2.35 2.796-.133 2.053-.77 10.267-2.534 13.314C9.936 41.964 3.196 33.77 3.196 24c0-11.488 9.313-20.8 20.8-20.8 11.49 0 20.8 9.312 20.8 20.8 0 9.777-6.747 17.974-15.84 20.2z" fill="#57B275"></path></g>
						</svg>
						<div style="padding:7px 0 7px 68px;">
							<h2>geckotree</h2>
						</div> --}}
					</td>
					<td class="o-grid-col--half u-right-content">
						<p>Invoice No. 20150826</p>
						<p>26th August 2015</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="100%" class="o-spacer-cell o-spacer-cell--medium">&nbsp;</td>
	</tr>
</table>