/* ===========================================================

	# Variables

=========================================================== */

$old-ie: 	false!default;
$base-dir: 	'/assets';
$fonts: 	'#{$base-dir}/fonts';
$images: 	'#{$base-dir}/build/img';


/* ===========================================================

	# Colours

=========================================================== */

$white: 		#FFFFFF;
$black: 		#000000;
$light-1:		#F7F7F7;
$dark-1:		#272727;
$dark-2:		#383838;

$fern-green:	#57B275;
$foly-pink:		#F05D71;
$ronchi-yellow:	#F2D044;

$red-1:			#EC4E50;
$green:			#57B275;
$grey:			#E2E2E2;

$twitter: 		#55ACEE;
$dribbble: 		#EA4C89;
$instagram: 	#3F729B;

$pri: 			$fern-green;
$sec: 			$foly-pink;
$ter: 			$ronchi-yellow;

$adspy-pri:		#139DE5;



/* ===========================================================

	# Base Values

=========================================================== */

$font-family:			'Gotham Rounded', Helvetica, Geneva, sans-serif;
$font-size-body-small:	1.6em;
$font-size-body-large:	2em;
$font-size-small:		1.6rem;
$font-size-large:		2rem;
$line-height:			1.4em;
$type-scale-small:		1.100;
$type-scale-medium:		1.150;
$type-scale-large:		1.200;

$heading-colour:		$dark-1;
$text-colour:			$dark-2;
$background-colour:		$light-1;
$border-colour:			$grey;
$link-colour:			$pri;
$link-colour-hover:		$sec;
$placeholder-colour:	$grey;
$highlight-colour:		lighten( $pri, 35 );

$error:					$red-1;
$success:				$green;
$disabled:				$grey;

$padding-small:			4rem;
$padding-medium:		6rem;
$padding-large:			8rem;

$border-width: 			.2rem;
$border-radius: 		.4rem;
$speed: 				.3s;

$wrap-medium:			75rem;
$wrap-large:			92rem;
$wrap-x-large:			140rem;

$active-scale-small:	scale( .98 );
$active-scale-medium:	scale( .95 );



/* ===========================================================

	# Media Queries

=========================================================== */

$mq-small: 				500px;
$mq-medium: 			800px;
$mq-large: 				1000px;
$mq-x-large: 			1280px;
$mq-xx-large: 			1500px;
