/* ===========================================================

	# Buttons

=========================================================== */

.c-button {
	border-radius: $border-radius * 100;
	display: inline-block;
	font-weight: $bold;
	line-height: 1;
	padding: 1.5rem 2.5rem;
	transition: background $speed ease,
				color $speed ease,
				transform $speed ease;

	&:hover,
	&:focus {
		color: $white;

		.icon--arrow-right {
			transform: translateX( .4rem );
		}
	}

	&:active {
		transform: $active-scale-small;
	}

	.icon--arrow-right {
		@include icon( $white, 1rem, .8rem );
		margin-left: $padding-small / 8;
		transition: transform $speed ease;
	}
}

.c-button--primary {
	background: $pri;
	color: $white;

	&:hover,
	&:focus {
		background: $sec;
	}
}

.c-button--secondary {
	background: $sec;
	color: $white;

	&:hover,
	&:focus {
		background: $ter;
	}
}

.c-button--disabled {
	background: $border-colour;
	color: $text-colour;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: $text-colour;
	}
}
