/* ===========================================================

	# Feat Media Grid

=========================================================== */

.c-feat-media-grid__row {
	@include clearfix;
	margin-left: -.1rem;
}

.c-feat-media-grid__col {
	float: left;
	padding-left: .1rem;
	width: 50%;
}

.c-feat-media-grid__img {
	width: 100%;
}

@include respond-max( $mq-medium ) {
	.c-feat-media-grid__col {
		& + & {
			margin-top: .1rem;
		}

		&:nth-child( 2 ) {
			margin-top: 0;
		}
	}
}

@include respond-min( $mq-medium ) {
	.c-feat-media-grid__col {
		width: 33.3333333333%;
	}

	.c-feat-media-grid__row {
		// margin-left: -$padding-small / 4;
	}

	.c-feat-media-grid__col {
		// padding-left: $padding-small / 4;

		& + & {
			margin-top: .1rem;
			// margin-top: $padding-small / 4;
		}

		&:nth-child( 2 ),
		&:nth-child( 3 ) {
			margin-top: 0;
		}
	}
}

@include respond-min( $mq-x-large ) {
	.c-feat-media-grid__row {
		margin-left: -$padding-small / 2;
	}

	.c-feat-media-grid__col {
		width: 33.3333333333%;
		padding-left: $padding-small / 2;

		& + & {
			margin-top: $padding-small / 2;
		}

		&:nth-child( 2 ),
		&:nth-child( 3 ) {
			margin-top: 0;
		}
	}
}
