/* ===========================================================

	# Footer

=========================================================== */

.c-footer {
	.icon {
		@include icon( $med-1, 3.2rem, 3.2rem );
	}
}

.c-footer__social {
	list-style: none;
}

.c-footer__social__item {
	display: inline-block;
	margin: $padding-large $padding-small / 2 0;
}

.c-footer__social__link {
	display: block;

	&:hover {
		.icon--twitter {
			fill: $twitter;
		}

		.icon--dribbble {
			fill: $dribbble;
		}

		.icon--instagram {
			fill: $instagram;
		}
	}
}

.c-footer__label {
	color: $med-1;
	display: inline-block;
	font-weight: $bold;
	margin-left: -$padding-small / 4;
	margin-top: $padding-small / 2;

	.icon {
		@include icon( $red-1, 1.6rem, 1.6rem );
	}
}

@include respond-max( $mq-small ) {
	.c-footer {
		padding: $padding-small 0;
	}
}

@include respond-min-max( $mq-small, $mq-large ) {
	.c-footer {
		padding-top: $padding-medium / 2;
	}
}

@include respond-min( $mq-large ) {
	.c-footer {
		padding-top: $padding-large;
	}

	.no-touch {
		.c-footer {
			bottom: 0;
			left: 0;
			padding-top: 0;
			position: fixed;
			width: 100%;
			z-index: -2;
		}
	}
}
