/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background: $background-colour;
	transition: background $speed ease,
				transform $speed ease;
	z-index: 30;
}

.c-header__inner {
	@include clearfix;
	background: $background-colour;
	border-top: $padding-small / 8 solid $light-2;
	padding-top: $padding-small / 2;
}

.icon--logo {
	@include icon( $pri, 4.8rem, 4.8rem );
	margin-bottom: -.8rem;
}

.no-enhance {
	.c-header__toggle-menu-button {
		display: none;
	}
}

@include respond-max( $mq-large ) {
	.c-header {
		position: relative;
		text-align: center;
	}

	.c-header__inner {
		padding-top: 1.5rem;
	}

	.c-header__logo {
		display: inline-block;
		width: 60%;
	}

	.c-header__toggle-menu-button {
		height: 7.8rem;
		left: 0;
		padding: $padding-small / 4 $padding-small / 2;
		position: absolute;
		text-align: left;
		top: 0;
		width: 20%;
		z-index: 10;
	}

	.enhance {
		.c-header__inner {
			padding-bottom: 1.5rem;
		}
	}
}

@include respond-min( $mq-large ) {
	.c-header__inner {
		padding: $padding-small / 2;
	}

	.c-header__logo {
		float: left;
	}

	.c-header__toggle-menu-button {
		display: none;
	}
}
