/* ===========================================================

	# Hero

=========================================================== */

.c-hero {
	// background: url('http://ghostlyferns.com/images/Horizontal1.jpg');
	// background: url('#{$images}/home/illustration-intro-left.svg') no-repeat right 80%;
				// url('#{$images}/home/illustration-intro-right.svg') no-repeat right 86.5%;
	// height:600px;
}

.c-hero__figure {
	margin: 0 auto;
	max-width: 512px;
	-webkit-mask: url('#{$images}/home/geckotree-mask.svg');
	-webkit-mask-size: 100%;

	&:hover {
		.c-hero__figure__img {
			transform: scale( 1.1 );
		}
	}
}

.c-hero__figure__img {
	transition: transform $speed * 10 ease;
}

.c-hero__header {
	// margin-top: 4rem;
}
