/* ===========================================================

	# LISTING

=========================================================== */

.c-listing__link {
	display: block;
	padding: 3rem 2rem;
	position: relative;
	transition: background $speed ease,
				transform $speed ease;

	&.is-visited {
		.c-listing__item-meta--visited {
			display: inline-block;
		}
	}

	&:hover {
		background-color: rgba( $pri, .1 );
	}

	&:focus {
		background-color: rgba( $sec, .1 );

		.u-highlight-text {
			color: $sec;
		}

		.c-listing__visited-badge {
			background: $sec;
		}
	}

	&:hover,
	&:focus {
		.c-listing__item-meta {
			color: $grey-3;
		}
	}

	&:active {
		transform: $active-scale-small;
	}
}

.c-listing__heading {
	color: $heading-colour;
}

.c-listing__list-meta {
	list-style: none;
	line-height: 1;
}

.c-listing__item-meta {
	color: $grey-2;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	margin-bottom: $line-height;
	transition: color $speed ease;

	& + & {
		margin-left: 1.5rem;
	}
}

.c-listing__item-meta--visited {
	display: none;
}

.c-listing__visited-badge {
	background: $pri;
	border-radius: 100%;
	height: 2rem;
	padding: .4rem .5rem .2rem .5rem;
	width: 2rem;

	.icon {
		color: $white;
		font-size: 1rem;
	}
}

.c-listing__description {
	color: $text-colour;
}

.c-listing--side-by-side__item-meta {
	margin-bottom: 0;
}

@include respond-max( $mq-small ) {
	.c-listing__link {
		margin-left: -2rem;
		margin-right: -2rem;
	}

	.c-listing__visited-badge {
		display: none;
	}
}

@include respond-min( $mq-small ) {
	.c-listing__link {
		&.is-visited {
			.c-listing__visited-badge {
				animation: scaleIn $speed / 2 $speed / 2 both;
				display: inline-block;
			}
		}
	}
}

@include respond-max( $mq-medium ) {
	.touch {
		.c-listing__item-meta {
			color: $grey-3;
		}
	}

	.flexbox {
		.c-listings--side-by-side {
			display: flex;
			flex-direction: column;
		}

		.c-listing--side-by-side {
			width: 100%;
		}

		.c-listing--next {
			order: 1;
		}

		.c-listing--prev {
			order: 2;
		}
	}
}

@include respond-min-max( $mq-small, $mq-medium ) {
	.c-listing__link {
		margin-left: -4rem;
		margin-right: -4rem;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@include respond-min( $mq-medium ) {
	.c-listing {
		max-width: $wrap--large + 12rem;
	}

	.c-listing__link {
		border-radius: $border-radius * 3;
		padding: 4rem 6rem;
	}


	.c-listings--side-by-side {
		@include clearfix;
		max-width: $wrap--large + 12rem;
	}

	.c-listing--side-by-side {
		width: 50%;
	}

	.c-listing--prev {
		float: left;
		margin-left: 0; // This is to align the listing to the *left* with flexbox
	}

	.c-listing--prev__link {
		margin-right: 2rem;

		&:hover {
			transform: translateX( -.5rem );
		}
	}

	.c-listing--next {
		float: right;
		margin-right: 0; // This is to align the listing to the *right* with flexbox
	}

	.c-listing--next__link {
		margin-left: 2rem;

		&:hover {
			transform: translateX( .5rem );
		}
	}

	.c-listing--side-by-side__link {
		background: rgba( $grey-1, .2 );
		padding: 4rem;

		&:active {
			transform: $active-scale-small;
		}
	}

	.c-listing--side-by-side__item-meta {
		color: $grey-3;
	}

	.flexbox {
		.c-listings--side-by-side {
			align-items: stretch;
			display: flex;
		}

		.c-listing--side-by-side {
			display: flex;
			flex-direction: column;
		}

		.c-listing--side-by-side__link {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
		}
	}
}
