/* ===========================================================

	# NAV

=========================================================== */

.c-page__header {
	background: $background-colour;
	transition: transform $speed ease;
	z-index: 10;
}

.c-nav {
	@include clearfix;
	padding: 2rem 0;
}

.c-nav__list {
	list-style: none;
}

.c-nav__item {
	font-weight: 500;
	margin: 0;

	// TODO refactor
	&.is-active {
		.c-nav__link {
			color: $text-colour;
		}

		.icon {
			color: $pri;
		}
	}
}

.c-nav__link {
	color: $grey-3;
	transition: color $speed ease,
				transform $speed ease;

	.icon {
		color: $grey-2;
		font-size: 1.6rem;
		transition: color $speed ease;
	}

	&:hover,
	&:focus {
		color: $text-colour;

		.icon {
			color: $sec;
		}
	}
}

.c-nav__link--button {
	border-radius: 10rem;
	color: $white;
	transition: background $speed ease,
				transform $speed ease;

	.icon {
		color: $white;
	}

	&:hover,
	&:focus {
		background: $sec;
		color: $white;

		.icon {
			color: $white;
		}
	}

	&:active {
		transform: $active-scale-small;
	}
}

.c-nav__nav-toggle {
	.icon {
		color: $grey-2;
	}
}

.js.mustard {
	// &.c-nav-detached .c-page__header {
	// 		position: fixed;
	// 		top: 0;
	// 		width: 100%;
	// 	}

	// 	&.c-nav-hidden .c-page__header {
	// 		transform: translateY( -10.8rem );
	// 	}
}

@include respond-max( $mq-medium ) {
	.c-nav__link {
		.icon {
			margin: .3rem 0;
		}
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.c-nav__item {
		.icon {
			margin: .6rem 0;
		}
	}
}

@include respond-max( $mq-large ) {
	.c-nav {
		background: $background-colour;
		position: relative;
		text-align: center;
	}

	.c-nav__logo {
		display: inline-block;
		width: 60%;
	}

	.c-nav__toggle-menu-button {
		fill: $grey-2;
		height: 8.8rem;
		left: 0;
		padding: 1.5rem 2rem;
		position: absolute;
		text-align: left;
		top: 0;
		width: 20%;
		z-index: 10;

		.js.mustard & {
			// TODO refactor
			transition: transform $speed ease;

			&.is-active {
				.menu-path--1 {
					animation-name: menuPathIn1;
				}

				.menu-path--2 {
					animation-name: menuPathIn2;
				}

				.menu-path--3 {
					animation-name: menuPathIn3;
				}
			}

			&.is-inactive {
				.menu-path--1 {
					animation-name: menuPathOut1;
				}

				.menu-path--2 {
					animation-name: menuPathOut2;
				}

				.menu-path--3 {
					animation-name: menuPathOut3;
				}
			}

			.menu-path--1,
			.menu-path--2,
			.menu-path--3 {
				animation-duration: $speed;
				animation-fill-mode: both;
			}
		}
	}

	.c-nav__menu {
		background: $background-colour;
		padding: 2rem 2rem 0;
		width: 100%;
		z-index: -1;
	}

	.c-nav__link {
		display: block;
		padding: 1rem 2rem;
		text-align: left;

		.icon {
			float: right;
		}
	}

	.no-js,
	.js.no-mustard {
		.c-nav__toggle-menu-button {
			display: none;
		}
	}

	.js {
		.c-nav__menu {
			display: none;
		}
	}

	.js.mustard {
		.c-nav__menu {
			animation-duration: $speed * 1.5;
			animation-fill-mode: both;
			display: block;
			left: 0;
			padding-bottom: 2rem;
			position: absolute;
			top: 0;
			transform: translateY( -100% );
			transition: transform $speed ease;

			&.is-visible {
				animation-name: navBounceInDown;
			}

			&.is-hidden {
				animation-name: navBounceOutUp;
			}
		}
	}
}

@include respond-min( $mq-large ) {
	.c-nav {
		padding: 2rem;
	}

	.c-nav__logo,
	.c-nav__item {
		float: left;
	}

	.c-nav__toggle-menu-button {
		display: none;
	}

	.c-nav__menu {
		padding-left: 4.8rem;
		width: 100%;
	}

	.c-nav__list {
		@include clearfix;
	}

	.c-nav__item--align-right {
		float: right;
	}

	.c-nav__link {
		display: block;
		padding: 1rem 2rem;
	}
}

// @include respond-min( $mq-x-large ) {
// 	.c-nav {
// 		padding: 3rem;
// 	}
// }
