/* ===========================================================

	# Nav

=========================================================== */

.c-nav__list {
	list-style: none;
}

.c-nav__item {
	font-weight: $bold;
	margin: 0;
}

.c-nav__link {
	color: $white;
	transition: color $speed ease,
				transform $speed ease;

	.icon {
		@include icon( $white, 1.6rem, 1.6rem );
		fill: rgba( $white, .6 );
	}

	&:hover,
	&:focus {
		color: $white;

		.icon {
			// fill: $sec;
		}
	}

	&.is-active {
		// color: $text-colour;

		.icon {
			// fill: $pri;
		}
	}
}

.c-nav__link--button {
	background: $white;
	border-radius: $border-radius * 10;
	color: $vista-green;
	transition: background $speed ease,
				transform $speed ease;

	.icon {
		fill: $vista-green;
	}

	&:hover,
	&:focus {
		// background: $sec;
		color: $vista-green;

		.icon {
			// fill: $white;
		}
	}

	&:active {
		transform: $active-scale-small;
	}
}

@include respond-max( $mq-small ) {
	.c-nav__item {
		padding: 0 $padding-small / 8;
	}

	.c-nav__link {
		padding: $padding-small / 4 1.5rem;
	}
}

@include respond-max( $mq-medium ) {
	.c-nav__link {
		.icon {
			margin: .3rem 0;
		}
	}
}

@include respond-min-max( $mq-small, $mq-large ) {
	.c-nav__item {
		padding: 0 $padding-small / 2;
	}

	.c-nav__link {
		padding: $padding-small / 4 $padding-small / 2;
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.c-nav__item {
		.icon {
			margin: .6rem 0;
		}
	}
}

@include respond-max( $mq-large ) {
	.c-nav__link {
		display: block;
		text-align: left;

		.icon {
			float: right;
		}
	}

	// .c-nav__link--button {
	// 	border-radius: 0;
	// }

	//@todo sort this if no-js
	//hides nav by default to prevent flicker of animation
	.no-enhance{
		.c-nav {
			display: none;
		}
	}

	.enhance {
		.c-nav {
			animation-duration: $speed * 1.5;
			animation-fill-mode: both;
			// background: $background-colour;
			display: block;
			left: 0;
			padding-bottom: $padding-small / 4;
			padding-top: $padding-small / 4;
			position: absolute;
			top: 0;
			transform: translateY( -100% );
			transition: transform $speed ease;
			width: 100%;
			z-index: -1;

			&.is-visible {
				animation-name: navBounceInDown;
			}

			&.is-hidden {
				animation-name: navBounceOutUp;
			}
		}
	}
}

@include respond-min( $mq-large ) {
	.c-nav__item {
		float: left;
	}

	.c-nav__menu {
		padding-left: 4.8rem;
		width: 100%;
	}

	.c-nav__list {
		@include clearfix;

		& > :first-child {
			padding-left: $padding-small / 4;
		}
	}

	.c-nav__item--align-right {
		float: right;
	}

	.c-nav__link {
		display: block;
		padding: $padding-small / 4 $padding-small / 2;
		// position: relative;

		// &:before {
		// 	background: $white;
		// 	content: '';
		// 	display: block;
		// 	height: .5rem;
		// 	left: 0;
		// 	position: absolute;
		// 	transition: transform $speed ease;
		// 	top: -2.5rem;
		// 	width: 100%;
		// }

		// &:hover:before {
		// 	transform: translateY( .5rem );
		// }
	}
}
