/* ===========================================================

	# PAGINATION

=========================================================== */

.c-pagination {
	padding-top: $padding--small;
}

.c-pagination__list {
	list-style: none;
}

.c-pagination__item {
	display: inline-block;
	margin: 0 0 0 -.25em;
	width: 50%;
}

.c-pagination__link {
	border: $border-width * 1.5 solid $pri;
	border-radius: 4rem;
	display: block;
	font-weight: 500;
	padding: 1.2rem 1.7rem 1rem;
	transition: transform $speed ease;

	&:hover {
		color: $pri;
	}

	&:focus {
		color: $sec;
		border-color: $sec;
	}

	&:active {
		transform: $active-scale-medium;
	}
}

.c-pagination__link--prev {
	float: right;
	margin-right: 1.5rem;
}

.c-pagination__link--next {
	float: left;
	margin-left: 1.5rem;
}

.c-pagination__link--disabled {
	border-color: $border-colour;
	color: $border-colour;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: $border-colour;
		border-color: $border-colour;
	}

	&:active {
		transform: scale( 1 );
	}
}

.c-pagination__link--prev__text {
	float: right;
}

.c-pagination__link--next__text {
	float: left;
}

@include respond-max( $mq-medium ) {
	.c-pagination__link {
		.icon {
			font-size: 1.4rem;
		}
	}
}

@include respond-min( $mq-medium ) {
	.c-pagination__link {
		.icon {
			font-size: 1.6rem;
		}
	}
}

@include respond-max( $mq-large ) {
	.c-pagination__link--prev__text {
		margin-left: .5rem;
	}

	.c-pagination__link--next__text {
		margin-right: .5rem;
	}
}

@include respond-min( $mq-large ) {
	.c-pagination__link--prev {
		&:hover,
		&:focus {
			.c-pagination__link__text {
				margin-left: .5rem;
				width: 6.4rem;
			}
		}
	}

	.c-pagination__link--next {
		&:hover,
		&:focus {
			.c-pagination__link__text {
				margin-right: .5rem;
				width: 5.7rem;
			}
		}
	}

	.c-pagination__link--disabled {
		&:hover,
		&:focus {
			.c-pagination__link__text {
				margin: 0;
				width: 0;
			}
		}
	}

	.c-pagination__link__text {
		overflow: hidden;
		transition: width $speed ease;
		width: 0;
	}
}

