/* ===========================================================

	# Figcaption

=========================================================== */

caption,
figcaption {
	color: $med-2;
	margin-top: $line-height / 2;
	text-align: left;
}

caption {
	caption-side: bottom;
}
