/* ===========================================================

	# FREE CONTENT

=========================================================== */

.s-free-content {
	a {
		background: $pri;
		background: rgba( $pri, .1 );
		border-radius: $border-radius;
		padding: .3rem .5rem;
		transition: background $speed ease,
					color $speed ease,
					transform $speed ease;

		&:hover,
		&:focus {
			background: rgba( $sec, .1 );
		}
	}

	code {
		background: $grey-1;
		background: rgba( $grey-1, .75 );
		border-radius: $border-radius;
		font-family: Consolas, Courier, monospace;
		font-size: 90%;
		padding: .3rem .5rem;
	}
}
