/* ===========================================================

	# FREE CONTENT

=========================================================== */

.s-free-content {
	a {
		background: $pri;
		background: rgba( $pri, .1 );
		border-radius: $border-radius;
		padding: .3rem .5rem;
		transition: background $speed ease,
					color $speed ease,
					transform $speed ease;

		&:hover,
		&:focus {
			background: rgba( $sec, .1 );
		}
	}
}
