/* ===========================================================

	# TABLE

=========================================================== */

table {
	border-collapse: collapse;
	margin: $line-height 0;
	width: 100%;
}

th,
td {
	padding: 1rem 2rem;
	text-align: left;
}

tr > :first-child {
	border-radius: $border-radius 0 0 $border-radius;
}

tr > :last-child {
	border-radius: 0 $border-radius $border-radius 0;
}

th {
	font-weight: bold;
}

th,
tr:nth-child( even ) td {
	background: $grey-1;
	background: rgba( $grey-1, .5 );
}
