/* ===========================================================

	# Geckotree - Card

=========================================================== */

.c-case-study--geckotree {
	.c-case-study-card__link {
		background-color: rgba( $pri, .15 );

		&:hover {
			background-color: rgba( $pri, .25 );
		}

		.no-svg & {
			background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.png' );
		}

		.svg & {
			background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.svg' );
		}
	}
}
