/* ===========================================================

	# Grid

=========================================================== */

.o-sg-grid-row {
	& + & {
		margin-top: 8rem;
	}
}

.o-sg-grid-row + .o-sg-section__sub,
.o-sg-section__sub + .o-sg-grid-row {
	margin-top: 8rem;
}

.o-sg-grid-row__col {
	& + & {
		margin-top: 0;
	}
}

@include respond-max( $mq-medium ) {
	.o-sg-grid-row__col {
		& + & {
			margin-top: 8rem;
		}
	}
}

@include respond-min( $mq-medium ) {
	.o-sg-grid-row {
		@include clearfix;
		margin-left: -4rem;
	}

	.o-sg-grid-row__col {
		float: left;
		padding-left: 4rem;
	}

	.o-sg-grid-row__col--thirds {
		width: 33.3333333333%;

		.c-button {
			width: 100%;
		}
	}

	.o-sg-grid-row__col--half {
		width: 50%;
	}
}

@include respond-min( $mq-large ) {
	.o-sg-grid-row {
		margin-left: -8rem;
	}

	.o-sg-grid-row__col {
		padding-left: 8rem;
	}
}
