<section class="o-section o-wrap c-case-study__section__feat-img">
	<div class="c-case-study__section__feat-img-row">
		<div class="c-case-study__section__feat-img-col c-case-study__section__feat-img-col--large">
			<div class="c-case-study__section__feat-img__img c-case-study__section__feat-img__img--admachine-sketch"></div>
		</div>
		<div class="c-case-study__section__feat-img-col c-case-study__section__feat-img-col--small">
			<div class="c-case-study__section__feat-img__img c-case-study__section__feat-img__img--robot-sketch"></div>
		</div>
	</div>
</section>

<section class="o-section">
    <div class="o-wrap o-wrap--xx-large">
        <h2>The importance of <span class="u-highlight-text">illustration</span></h2>
        <div class="u-intro">
            <p>Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
    </div>
</section>