<header class="o-section c-page__heading c-page__heading--two-col c-case-study__hero js-hero">
    <div class="o-wrap o-wrap--xx-large">
        <div class="c-page__heading__row">
            <div class="c-page__heading__details">
                <h1 class="c-page__heading__heading">Build better <span class="u-highlight-text">ad campaigns</span></h1>
            
                <div class="c-page__heading__description u-intro">
                    <p>Articles on web performance principles, monitoring, optimization, responsive web design and more.</p>
                </div>
            </div>
            
            <figure class="c-page__heading__figure c-case-study__hero__mark u-center-content">
                <img src="/assets/img/case-studies/adspy/ninja.svg" alt="">
            </figure>
        </div>
    </div>
</header>