<section class="o-section">
    <header class="c-case-study__section__header c-case-study__section__header--center">
        <div class="o-wrap o-wrap--large">
            <h3 class="c-case-study__section__heading u-highlight-text">Style tiles</h3>
            <div class="c-case-study__section__description">
                <p>To kick off the project we started by creating a range of different style tiles - this allowed us to quickly create different looks and feel for the site.</p>
            </div>
        </div>
    </header>
	
	<figure class="c-case-study__section__figure">
		<div class="o-wrap o-wrap--x-large">
            <div class="o-carousel" data-module="Carousel">
				<div class="o-carousel__list js-carousel-list">
					<article class="o-carousel__item js-carousel-item" data-label="Blue Style Tile">
						<img src="/assets/img/case-studies/adspy/blue-style-tile.svg" alt="Blue Style Tile">
					</article>

					<article class="o-carousel__item js-carousel-item" data-label="Red Style Tile">
						<img src="/assets/img/case-studies/adspy/red-style-tile.svg" alt="Red Style Tile">
					</article>

					<article class="o-carousel__item js-carousel-item" data-label="Teal Style Tile">
						<img src="/assets/img/case-studies/adspy/teal-style-tile.svg" alt="Teal Style Tile">
					</article>
				</div>
			</div>
		</div>
	</figure>
</section>