---
layout: default
title: Articles for front-end devs
---

<header class="o-wrap o-wrap--large o-page-heading">
	<h1 class="mega">Articles for Front-End Devs</h1>
	<p class="intro u-light-text">Articles on web performance principles, monitoring, optimization, responsive web design and more.</p>
</header>

<div class="o-listings">
	{% for post in paginator.posts %}
		{% assign author = site.data.authors[post.author] %}
		<article class="o-wrap c-listing" itemscope itemtype="http://schema.org/NewsArticle">
			<a href="{{ post.url | prepend: site.baseurl }}" class="c-listing__link js-visited-link" itemprop="url" title="{{ post.title }}">
				<h2 class="c-listing__heading " itemprop="name">{{ post.blogTitle }}</h2>
				
				<ul class="c-listing__list-meta">
					<li class="c-listing__item-meta">
						<time datetime="{{ post.date | date: '%Y-%m-%d%T' }}" pubdate="pubdate">
							{% assign d = post.date | date: "%-d" %} 
							{% case d %}
								{% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
								{% when '2' or '22' %}{{ d }}<sup>nd</sup>
								{% when '3' or '23' %}{{ d }}<sup>rd</sup>
								{% else %}{{ d }}<sup>th</sup>
							{% endcase %}
							{{ post.date | date: "%b %Y" }}
						</time>
						<meta itemprop="dateCreated" content="{{ post.date | date: '%Y-%m-%d' }}">
					</li>
					<li class="c-listing__item-meta" itemprop="author">
						{{ author.name }}
					</li>
					<li class="c-listing__item-meta c-listing__item-meta--visited">
						<span class="c-listing__visited-text">Seen</span>
						<span class="c-listing__visited-badge">
							<i class="icon icon--check" data-grunticon-embed></i>
						</span>
					</li>
				</ul>
				
				<div class="c-listing__description">
					<p>{{ post.exerpt }}</p>
				</div>
			</a>
		</article>
	{% endfor %}
</div>

<nav class="c-pagination u-center-content">
	<ul class="c-pagination__list">
		<li class="c-pagination__item">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="c-pagination__link c-pagination__link--prev">
					<span class="c-pagination__link__text c-pagination__link--prev__text">Newer</span>
					<i class="icon icon--arrow-left-small"></i>
				</a>
			{% else %}
				<span class="c-pagination__link c-pagination__link--prev c-pagination__link--disabled">
					<span class="c-pagination__link__text c-pagination__link--prev__text">Newer</span>
					<i class="icon icon--arrow-left-small"></i>
				</span>
			{% endif %}
		</li>

		<li class="c-pagination__item">
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="c-pagination__link c-pagination__link--next">
					<span class="c-pagination__link__text c-pagination__link--next__text">Older</span>
					<i class="icon icon--arrow-right-small"></i>
				</a>
			{% else %}
				<span class="c-pagination__link c-pagination__link--next c-pagination__link--disabled">
					<span class="c-pagination__link__text c-pagination__link--next__text">Older</span>
					<i class="icon icon--arrow-right-small"></i>
				</span>
			{% endif %}
		</li>
	</ul>
</nav>
