<section class="o-section c-case-study__colours">
    <header class="c-case-study__section__header c-case-study__section__header--center">
        <div class="o-wrap o-wrap--large">
            <h3 class="c-case-study__section__heading u-highlight-text">Colours</h3>
            <div class="c-case-study__section__description">
                <p>To kick off the project we started by creating a range of different style tiles - this allowed us to quickly create different looks and feel for the site.</p>
            </div>
        </div>
    </header>

    <figure class="c-case-study__section__figure u-center-content">
    	<ul class="c-case-study__colours__colours">
    		<li class="c-case-study__colours__colour c-case-study__colours__colour--pri">
    			<span class="u-hide-text">Blue</span>
    		</li>
    		<li class="c-case-study__colours__colour c-case-study__colours__colour--sec">
    			<span class="u-hide-text">Green</span>
    		</li>
    		<li class="c-case-study__colours__colour c-case-study__colours__colour--ter">
    			<span class="u-hide-text">Yellow</span>
    		</li>
    	</ul>
    </figure>
</section>