<section class="o-section">
    <div class="o-wrap o-wrap--xx-large">
        <h2>The importance of <span class="u-highlight-text">interface</span></h2>
        <div class="u-intro">
            <p>Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
    </div>
</section>