/* ===========================================================

	# Case Study - Heading

=========================================================== */

.c-case-study__section__heading {
	&:before {
		color: $med-1;
		content: counters( section, '.' ) ' ';
		font-size: .75em;
	}
}

@include respond-max( $mq-small ) {
	.c-case-study__section__heading {
		margin-left: -2.9rem;
	}
}

@include respond-min-max( $mq-small, $mq-medium ) {
	.c-case-study__section__heading {
		margin-left: -3.7rem;
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.c-case-study__section__heading {
		margin-left: -4.2rem;
	}
}

@include respond-min( $mq-large ) {
	.c-case-study__section__header--center {
		text-align: center;

		.c-case-study__section__heading {
			margin-left: -4.2rem;
		}
	}
}
