/* ===========================================================

	# AdSpy - Base

=========================================================== */
.s-case-study {
	.c-header,
	.c-header__inner {
		background: $adspy-pri-light;
	}
}

.s-case-study--adspy {


	.u-highlight-text {
		color: $adspy-pri;
	}

	.c-button {
		background: $adspy-pri;
	}

	.o-carousel__nav__button {
		&:hover {
			color: $adspy-pri;
		}

		&:focus {
			color: $adspy-sec;
		}

		&.is-active {
			color: $white;
		}
	}

	.o-carousel__nav__slider {
		background: $adspy-pri;
	}
}
