/* ===========================================================

	# Adspy - Card

=========================================================== */

.c-case-study--adspy {
	.c-case-study-card__link {
		background-color: rgba( $adspy-pri, .10 );
	}

	.u-highlight-text {
		color: $adspy-pri;
	}

	.c-button {
		background: $adspy-pri;
	}

	.no-svg & .c-case-study-card__link {
		background-image: url( '#{$images}/case-studies/adspy/adspy-logo.png' );
	}

	.svg & .c-case-study-card__link {
		background-image: url( '#{$images}/case-studies/adspy/adspy-logo.svg' );
	}

	.c-case-study-card__link:hover {
		background-color: rgba( $adspy-pri, .20 );
	}
}
