/* ===========================================================

	# AdSpy - Hero

=========================================================== */

.s-case-study--adspy {
	.c-case-study__hero {
		background-color: rgba( $adspy-pri, .2 );
		background-position: bottom;
		background-repeat: repeat-x;

		.no-js &,
		.no-svg & {
			background-image: url( '#{$images}/case-studies/adspy/city-background.png' );
		}

		.svg & {
			background-image: url( '#{$images}/case-studies/adspy/city-background.svg' );
		}
	}

	.c-case-study__hero__mark img {
		max-width: 400px;
		width: 100%;
	}
}
