---
title: Blog
pageClass: s-blog
---

{{> page-heading blog.page-heading}}

<div class="o-section">
	<section class="c-listing-wrap">
		{{#each listing.articles}}
			{{> listing}}
		{{/each}}
	</section>

	{{> pagination}}
</div>