---
title: Blog
pageClass: s-blog
---

{{> page-heading blog.page-heading}}

<div class="o-section">
	<section class="c-listing-wrap">
		{{#each listing.articles}}
			{{> listing}}
		{{/each}}
	</section>
	
	<div class="o-section u-center-content">
		<a href="#" class="c-button c-button--primary">
			archive
	        <svg class="icon icon--arrow-right">
	            <use xlink:href="#icon--arrow-right"></use>
	        </svg>
		</a>
	</div>
</div>