/* ===========================================================

	# Case Study - Card

=========================================================== */

//@todo sort out the image dev and build tasks
//@todo move these into case-study folders

.c-case-study--geckotree {
	background-color: rgba( $pri, .15 );
	background-image: url( '#{$images}/background/geckotree-logo.svg' );

	&:hover {
		background-color: rgba( $pri, .25 );
	}
}

.c-case-study--adspy {
	// background-color: rgba( $adspy-pri, .10 );
	background-image: url( '#{$images}/background/adspy-logo.svg' );

	&:hover {
		// background-color: rgba( $adspy-pri, .20 );
	}
}

.c-case-study-card {
	background-position: bottom -7rem right -12rem;
	background-repeat: no-repeat;
	padding: $padding-small $padding-small / 2;
	transition: background-color $speed ease;
}

.c-case-study-card__header {
	margin-bottom: $padding-small / 2;
	max-width: 54rem;
}

@include respond-max( $mq-small ) {
	.c-case-study-card-row {
		margin-left: -$padding-small / 2;
		margin-right: -$padding-small / 2;
	}
}

@include respond-min-max( $mq-small, $mq-medium ) {
	.c-case-study-card-row {
		margin-left: -$padding-small;
		margin-right: -$padding-small;
	}
}

@include respond-min( $mq-medium ) {
	.c-case-study-card {
		border-radius: $border-radius * 10;
		padding: $padding-small;
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.c-case-study-card-col {
		& + & {
			margin-top: $padding-small / 2;
		}
	}
}

@include respond-min( $mq-large ) {
	.c-case-study-card-row {
		@include clearfix;
		margin-left: -$padding-small;
	}

	.c-case-study-card-col {
		float: left;
		padding-left: $padding-small;
		width: 50%;
	}

	.c-case-study-card {
		padding: $padding-medium $padding-small;
	}

	.c-case-study-card__header {
		margin-bottom: $padding-small;
	}

	.cssanimations {
		.c-case-study-card {
			opacity: 0;
		}

		.is-inview {
			.c-case-study-card {
				animation: fadeInUp $speed cubic-bezier( 0.165, 0.84, 0.44, 1 ) both;
				animation-delay: $speed;
			}

			& > :last-child {
				.c-case-study-card {
					animation-delay: $speed * 2;
				}
			}
		}
	}
}

@include respond-min( $mq-x-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-medium;
	}

	.c-case-study-card-col {
		padding-left: $padding-medium;
	}

	.c-case-study-card {
		padding: $padding-large $padding-medium;
	}

	.c-case-study-card__header {
		margin-bottom: $padding-large;
	}
}
