/* ===========================================================

	# Case Study - Hero

=========================================================== */

.c-case-study__hero {
	background-color: rgba( $pri, .2 );
	// margin-bottom: $padding-small;
}

.c-case-study__hero__mark {
	margin-bottom: -$padding-large;
}

@include respond-min( $mq-small ) {
	.c-case-study__hero {
		height: 66vh;
		// margin-bottom: $padding-medium;
	}
}

@include respond-max( $mq-medium ) {
	.c-case-study__hero__mark {
		margin-top: $padding-small;
	}
}

@include respond-min( $mq-medium ) {
	.c-case-study__hero {
		// margin-bottom: $padding-large;
	}

	.c-case-study__hero__row {
		@include clearfix;
		margin-left: -$padding-small;
	}

	.c-case-study__hero__header,
	.c-case-study__hero__mark {
		float: left;
		padding-left: $padding-small;
		width: 50%;
	}
}
