/* ===========================================================

	# CASE STUDY - LOGO

=========================================================== */

.case-study__logo__mark {
	.path {
		transition: fill $speed ease;
	}
}

.c-case-study__logo__list {
	.no-js &,
	.no-mustard & {
		display: none;
	}

	list-style: none;
	margin-top: $padding--small;
}

.c-case-study__logo__item {
	display: inline-block;
	margin: 0 .5rem;
}

.c-case-study__logo__button {
	border: $border-width * 1.5 solid $background-colour;
	border-radius: 50%;
	height: 3.2rem;
	transition: background $speed ease,
				box-shadow $speed / 2 ease,
				transform $speed / 2 ease;
	width: 3.2rem;

	&:focus {
		box-shadow: 0 0 0 $border-width $grey-1;
	}

	&:active {
		transform: scale( .9 );
	}

	&.is-active {
		box-shadow: 0 0 0 $border-width * 1.5 $grey-1;
		transition: background $speed ease,
					box-shadow $speed / 2 ease,
					transform $speed / 2 ease;
	}
}
