/* ===========================================================

	# Case Study - Page Nav

=========================================================== */

.c-case-study__page-nav__sections {
	@include unstyled-list;
	counter-reset: section;
}

.c-case-study__page-nav__section {
	counter-increment: section;
}

.c-case-study__page-nav__link {
	color: $med-1;
	display: block;
	font-weight: 500;

	&:hover,
	&:focus {
		color: $med-1;
	}
}

.c-case-study__page-nav__link__label {
	&:before {
		color: $grey; //@todo update this
		content: counters( section, '.' ) '. ';
		font-size: .75em;
	}
}

.c-case-study__page-nav__sections__child {
	margin: 0;
}

@include respond-max( $mq-large ) {
	.c-case-study__page-nav {
		padding: $padding-small / 2;
	}

	.c-case-study__page-nav__sections {
		background: #fff; //@todo more suitable colour
		border-radius: $border-radius;
		padding: $padding-small / 8 0;
	}

	.c-case-study__page-nav__link {
		padding: $padding-small / 8 $padding-small / 2;
	}

	.c-case-study__page-nav__sections__child {
		padding: 0;
	}
}

@include respond-min( $mq-large ) {
	//@todo test no-js
	.c-case-study__content {
		position: relative;
	}

	.c-case-study__page-nav {
		position: absolute;
		right: 0;
		top: 0;

		&.is-fixed {
			position: fixed;
		}

		&.is-bottom {
			bottom: -$padding-large;
			top: auto;
		}
	}

	.c-case-study__page-nav__section {
		@include clearfix;
	}

	.c-case-study__page-nav__link {
		border-radius: $border-radius * 10 0 0 $border-radius * 10;
		float: right;
		padding: $padding-small / 16 $padding-small / 8 $padding-small / 16 $padding-small / 2.5;
		transition: background $speed ease;

		&:hover {
			background: $background-colour;

			.c-case-study__page-nav__link__dot {
				transform: scale( 1.4 );
			}

			.c-case-study__page-nav__link__label {
				opacity: 1;
				transform: translateX( 0 );
				visibility: visible;
			}
		}

		&:active {
			transform: scale( 1 );

			.c-case-study__page-nav__link__dot {
				transform: scale( 1.2 );
			}
		}
	}

	.c-case-study__page-nav__link__dot {
		background: $grey; //@todo update
		border-radius: 100%;
		display: block;
		float: right;
		height: 1rem;
		margin: .8rem 1rem;
		transition: background $speed ease,
					transform $speed ease;
		width: 1rem;
	}

	.c-case-study__page-nav__link__label {
		float: right;
		transform: translateX( 1rem );
		transition: opacity $speed ease,
					transform $speed ease,
					visibility $speed ease;
		visibility: hidden;
	}

	.opacity {
		.c-case-study__page-nav__link__label {
			opacity: 0;
		}
	}
}

@include respond-min( $mq-xx-large ) {
	.c-case-study__page-nav__link {
		padding-right: $padding-small / 2;
	}
}
