/* ===========================================================

	# Page

=========================================================== */

.c-page__heading {
	padding-top: $padding-small;
}

@include respond-min( $mq-small ) {
	.c-page__heading {
		padding-top: $padding-medium;
	}
}

@include respond-min( $mq-large ) {
	.c-page__heading {
		padding-top: $padding-large;

		.o-wrap {
			@include clearfix;
		}
	}

	.c-page__heading__row {
		margin-left: -$padding-medium;
	}

	.c-page__heading__details,
	.c-page__heading__figure {
		float: left;
	}

	.c-page__heading__details {
		padding-left: $padding-medium;
		width: 50%;
	}

	.c-page__heading__figure {
		padding-left: $padding-medium;
		width: 50%;
	}
}

@include respond-max( $mq-large ) {
	.c-page__heading {
		text-align: center;
	}
}
