<nav class="c-case-study__page-nav js-page-nav"  aria-labelledby="toggle-page-nav" role="navigation">
    <ol class="c-case-study__page-nav__sections">
        <li class="c-case-study__page-nav__section">
            <a href="#brand" class="c-case-study__page-nav__link js-page-nav-link" data-scroll-to="brand">
                <span class="c-case-study__page-nav__link__dot"></span>
                <span class="c-case-study__page-nav__link__label">Brand</span>
            </a>
            <ol class="c-case-study__page-nav__sections c-case-study__page-nav__sections__child">
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#style-tiles" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="style-tiles">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Style tiles</span>
                    </a>
                </li>
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#logo" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="logo">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Logo</span>
                    </a>
                </li>
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#colours" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="colours">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Colours</span>
                    </a>
                </li>
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#typography" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="typography">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Typography</span>
                    </a>
                </li>
            </ol>
        </li>
        <li class="c-case-study__page-nav__section">
            <a href="#illustrations" class="c-case-study__page-nav__link js-page-nav-link" data-scroll-to="illustrations">
                <span class="c-case-study__page-nav__link__dot"></span>
                <span class="c-case-study__page-nav__link__label">Illustration</span>
            </a>
            <ol class="c-case-study__page-nav__sections c-case-study__page-nav__sections__child">
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#admachine" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="admachine">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Ad machine</span>
                    </a>
                </li>
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#extras" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="extras">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Extras</span>
                    </a>
                </li>
            </ol>
        </li>
        <li class="c-case-study__page-nav__section">
            <a href="#interface" class="c-case-study__page-nav__link js-page-nav-link" data-scroll-to="interface">
                <span class="c-case-study__page-nav__link__dot"></span>
                <span class="c-case-study__page-nav__link__label">Interface</span>
            </a>
            <ol class="c-case-study__page-nav__sections c-case-study__page-nav__sections__child">
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#desktop" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="desktop">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Desktop</span>
                    </a>
                </li>
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#tablet" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="tablet">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Tablet</span>
                    </a>
                </li>
                <li class="c-case-study__page-nav__section c-case-study__page-nav__section__child">
                    <a href="#mobile" class="c-case-study__page-nav__link c-case-study__page-nav__link__child js-page-nav-link" data-scroll-to="mobile">
                        <span class="c-case-study__page-nav__link__dot"></span>
                        <span class="c-case-study__page-nav__link__label">Mobile</span>
                    </a>
                </li>
            </ol>
        </li>
    </ol>
</nav>

<button class="c-case-study__page-nav-button" id="toggle-page-nav" aria-haspopup="true" data-module="Toggle" data-toggle="js-page-nav">
    <div class="c-case-study__page-nav-button__dots">
        <span class="c-case-study__page-nav-button__dot"></span>
        <span class="c-case-study__page-nav-button__dot"></span>
        <span class="c-case-study__page-nav-button__dot"></span>
    </div>
    <span class="u-hide-text">Page Menu</span>
</button>
