<header class="c-header" role="banner">
	<div class="c-header__inner">
		<a href="index.html" class="c-header__logo">
			<svg class="icon icon--logo">
                <use xlink:href="#icon--logo"></use>
            </svg>
		</a>

		<button class="c-header__toggle-menu-button" id="toggle-menu" aria-haspopup="true" data-module="Toggle" data-toggle="js-nav">
			<svg class="icon icon--menu">
                <use xlink:href="#icon--menu"></use>
            </svg>
		</button>

		<nav class="c-nav js-nav" aria-labelledby="toggle-menu" role="navigation">
			<div class="c-nav__list">
				<div class="c-nav__item">
					<a href="work.html" class="c-nav__link">
						work 
						<svg class="icon icon--briefcase">
                            <use xlink:href="#icon--briefcase"></use>
                        </svg>
					</a>
				</div>
				<div class="c-nav__item">
					<a href="services.html" class="c-nav__link">
						services 
						<svg class="icon icon--coffee">
                            <use xlink:href="#icon--coffee"></use>
                        </svg>
					</a>
				</div>
				<div class="c-nav__item">
					<a href="about.html" class="c-nav__link">
						about 
						<svg class="icon icon--heart">
                            <use xlink:href="#icon--heart"></use>
                        </svg>
					</a>
				</div>
				<div class="c-nav__item--align-right">
					<div class="c-nav__item">
						<a href="blog.html" class="c-nav__link">
							blog 
							<svg class="icon icon--chat">
	                            <use xlink:href="#icon--chat"></use>
	                        </svg>
						</a>
					</div>
					<div class="c-nav__item">
						<a href="#" class="c-nav__link c-nav__link--button">
							planner 
							<svg class="icon icon--feather">
	                            <use xlink:href="#icon--feather"></use>
	                        </svg>
						</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>