<nav class="c-pagination u-center-content">
	<ul class="c-pagination__list">
		<li class="c-pagination__item">
			<span class="c-pagination__link c-pagination__link--prev c-pagination__link--disabled">
				<span class="c-pagination__link__text c-pagination__link--prev__text">newer</span>
				<svg class="icon icon--arrow-left">
					<use xlink:href="#icon--arrow-left"></use>
				</svg>
			</span>
		</li>

		<li class="c-pagination__item">
			<a href="#" class="c-pagination__link c-pagination__link--next">
				<span class="c-pagination__link__text c-pagination__link--next__text">older</span>
				<svg class="icon icon--arrow-right">
					<use xlink:href="#icon--arrow-right"></use>
				</svg>
			</a>
		</li>
	</ul>
</nav>