<header class="o-section__header o-section__header--center">
	<div class="o-wrap o-wrap--large">
		<h2 class="o-section__header__heading">{{heading}}</h2>

		<div class="o-section__header__description">
			{{{description}}}
		</div>
	</div>
</header>