---
title: Home Page
---

<section class="c-hero c-hero--main">
	<div class="o-section o-wrap o-wrap--x-large u-center-content">
		{{!-- <figure class="c-hero__figure">
			<img src="assets/build/img/home/hero.jpg" class="c-hero__figure__img" alt="">
		</figure> --}}

		<header class="c-hero__header">
			<h1 class="c-hero__heading mega">We'll <span class="u-highlight-text">design</span> &amp; <span class="u-highlight-text">develop</span> a website that your users will love</h1>
		</header>
	</div>
</section>

<section class="o-section o-wrap c-case-study-card-row">
	<div class="c-case-study-card-col">
		<article class="c-case-study-card c-case-study--geckotree">
			<header class="c-case-study-card__header">
				<h2 class="gamma">Geckotree</h2>

				<div class="c-case-study-card__description">
					<p>Stop searching for the best technology companies in the Dallas/Fort Worth area, when you sign up we’ll send you our comprehensive list.</p>
				</div>
			</header>

			<footer class="c-case-study-card__ctas">
				<a href="#" class="c-button c-button--primary">case study</a>
			</footer>
		</article>
	</div>
	
	<div class="c-case-study-card-col">
		<article class="c-case-study-card c-case-study--adspy">
			<header class="c-case-study-card__header">
				<h2 class="c-case-study-card__heading gamma">OnlineAdSpy</h2>

				<div class="c-case-study-card__description">
					<p>Stop searching for the best technology companies in the Dallas/Fort Worth area, when you sign up we’ll send you our comprehensive list.</p>
				</div>
			</header>
			
			<footer class="c-case-study-card__ctas">
				<a href="#" class="c-button c-button--primary">case study</a>
			</footer>
		</article>
	</div>
</section>

<section class="o-section u-center-content">
	<header class="o-section__header">
		<div class="o-wrap o-wrap--large">
			<h2>Culture</h2>
			<p>We’re Rob and Kev – a small team of freelance creatives based in the UK. We specialise in creating performant, responsive websites, but we do a few other things too – take a look at what we do.</p>
		</div>
	</header>

	<div class="o-wrap o-wrap--xx-large c-feat-media-grid js-instagram-images">
		<div class="c-feat-media-grid__row">
			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11428601_948583611870458_1320563261_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>

			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11383318_123606647976042_1444562117_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>

			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11377586_1609315616019454_1094276395_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>

			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11379051_1614163692201929_1878995415_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>

			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11333465_457430134414340_965009589_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>

			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10932519_1539613189623107_664395787_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>

			<article class="c-feat-media-grid__col">
				<figure class="c-feat-media-grid__figure">
					<img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10899018_403701106454305_478085462_n.jpg" class="c-feat-media-grid__img" alt="">
				</figure>
			</article>
		</div>
	</div>
</section>